<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Start — geheimesite.nl | Robin Boers</title>

        {{ with .Site.Params.description }}
        <meta name="description" content="{{ . }}" />
        {{ end }}

        <link rel="canonical" href="{{ .Permalink }}" />

        {{ $css := resources.Get "assets/css/main.css" | fingerprint }}
        <link
            rel="preload"
            href="{{ $css.RelPermalink }}"
            integrity="{{ $css.Data.Integrity }}"
            as="style" />
        <link
            rel="stylesheet"
            href="{{ $css.RelPermalink }}"
            integrity="{{ $css.Data.Integrity }}"
            title="default" />

        {{ $js := resources.Get "assets/js/menu.js" | minify | fingerprint }}
        <script
            defer
            src="{{ $js.RelPermalink }}"
            integrity="{{ $js.Data.Integrity }}"></script>

        <link rel="alternate" hreflang="nl" href="https://geheimesite.nl/" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Webdevelopment-En-Meer"
            href="https://blog.geheimesite.nl/index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="That Crazy Webdev"
            href="https://blog.geheimesite.nl/en/index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Neolog"
            href="https://micro.geheimesite.nl/feed" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Stupid Codes"
            href="https://blog.geheimesite.nl/stupid-codes/index.xml" />
        <link rel="feed" href="https://blog.geheimesite.nl/en" />

        <!-- Micro{pub, sub} -->
        <link rel="microsub" href="https://aperture.p3k.io/microsub/733" />
        <link rel="micropub" href="https://micro.geheimesite.nl/endpoint" />

        <!-- IndieAuth -->
        <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
        <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
        <link rel="me authn" href="https://github.com/RobinBoers" />
        <link rel="me authn" href="mailto:hello@geheimesite.nl" />

        <!-- Webmention -->
        <link
            rel="webmention"
            href="https://webmention.io/geheimesite.nl/webmention" />
        <link
            rel="pingback"
            href="https://webmention.io/geheimesite.nl/xmlrpc" />

        {{ if .IsTranslated }} {{ range .Translations }}
        <link
            rel="alternate"
            hreflang="{{ .Language.Lang }}"
            href="{{ .Permalink }}"
            title="{{ .Language.LanguageName }}" />
        {{ end }} {{ end }}
    </head>

    <body>
        <a class="skip-nav" href="#content">Skip navigation</a>
        <header class="page-header justify-center">
            <svg
                hidden
                xmlns="http://www.w3.org/2000/svg"
                class="menu-button my-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2">
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4 6h16M4 12h16M4 18h16" />
            </svg>

            <nav class="mt-4">{{ partial "menu" . }}</nav>
        </header>

        <main id="content" class="page-content mt-0 md:mt-6">
            <article class="homepage-hero h-card">
                <div class="homepage-section max-w-none lg:max-w-xl">
                    <h1 class="p-name text-5xl title font-normal">
                        Robin Boers
                    </h1>

                    {{ .Content }}

                    <p class="text-right pr-10 lg:pr-0">
                        <a href="/" hreflang="nl">🇳🇱 Dutch</a>
                    </p>
                </div>

                <img
                    class="u-photo hidden absolute top-[80px] right-[-200px] lg:block xl:static w-full pixelart max-w-sm"
                    src="/assets/images/p-pixelart.png"
                    alt="Pixel art picture of me" />
            </article>

            <article class="homepage-section socials">
                {{ partial "socials" }}
            </article>

            <article class="homepage-section h-feed">
                <h2>Blog</h2>

                <div class="blog">
                    {{ $posts := getJSON
                    "https://blog.geheimesite.nl/en/index.json" }} {{ range
                    $posts }}
                    <article class="h-entry md">
                        <h3 class="p-name mb-0 h1">
                            <a
                                class="no-underline hover:bg-vibrant"
                                href="{{ .uri }}"
                                >{{ .title }}</a
                            >
                        </h3>
                        <p class="italic">
                            Geschreven door
                            <span class="p-author">Robin Boers</span> op
                            <span class="dt-published"
                                >{{ dateFormat "2 January 2006" .date }}</span
                            >
                        </p>
                        <p class="p-summary e-content">
                            {{ .content | safeHTML | truncate 600 }}
                        </p>
                    </article>
                    {{ end}}
                </div>
            </article>
        </main>

        {{- partial "footer.html" . -}}
    </body>
</html>
