<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="Netmap" stylesheet="/punkt.css" root {assigns} />

    <meta name="description" content="Netmap: a directory listing of all sites in a network." />

    <style>
      body {
        max-width: 750px;
        padding: 7px;
        margin: 4em auto;
        min-height: fit-content;
      }

      li a:first-child {
        font-weight: bold;
      }

      .box {
        margin-left: 0.5em;
        padding: 0.5em;
        background: light-dark(#ededed, #00000033);
        font-style: italic;
        opacity: 0.8;
        margin-bottom: 0.2em;
      }
    </style>
  </head>
  <body>
    <.embed name="netmap.html" />
  </body>
</html>
