/**/node_modules
.vscode
/library/more
/library/projects/*
!/library/projects/package
!/library/projects/websites

/library/website/*
!/library/website/version
!/library/website/overview.php

connection.php
connection_online.php
