/**/node_modules
.vscode
/src/projects/*
!/src/projects/*.php
!/src/projects/websites

/src/website/*
!/src/website/v
!/src/website/overview.php

/src/connection.php
/src/connection_online.php

/src/api/books/token.php
.themes

/src/assets/css/main.css