{
    "tabWidth": 4,
    "bracketSameLine": true,
    "singleAttributePerLine": false,
    "bracketSpacing": false,
    "overrides": [
        {
            "files": "*.php",
            "options": {"parser": "html"}
        },
        {
            "files": ".prettierrc",
            "options": {"parser": "json"}
        }
    ]
}
