{{ $shelve := .Get "shelve" }} 
{{ $shelve = index .Site.Data.books $shelve }} 

{{ if eq $shelve.type "timeline" }} 
    {{ range sort $shelve.years "year" "desc" }}

            <h2>{{ .year }}</h2>

            <ul class="book-grid">
                {{ range .books }}
                    {{ $image := resources.Get (printf "assets/images/books/%s" .cover) }} 
                    {{ $image := $image.Resize "450x webp" }}

                    <li>
                        <hgroup>
                            <h3>{{ .title }}</h3>
                            <span>By {{ .author }}</span>
                        </hgroup>

                        <a href="{{ .url }}">
                            <img src="{{ $image.RelPermalink }}" alt="Cover of {{ .title }} by {{ .author }}" />
                        </a>
                    </li>
                {{ end }}
            </ul>
            
    {{ end}}
{{ else }}

    <h2>{{ $shelve.title }}</h2>

    <ul class="book-grid">
        {{ range $shelve.books }}
            {{ $image := resources.Get (printf "assets/images/books/%s" .cover) }} 
            {{ $image := $image.Resize "450x webp"}}

            <li>
                <hgroup>
                    <h3>{{ .title }}</h3>
                    <span>By {{ .author }}</span>
                </hgroup>

                <a href="{{ .url }}">
                    <img src="{{ $image.RelPermalink }}" alt="Cover of {{ .title }} by {{ .author }}" />
                </a>
            </li>
        {{ end }}
    </ul>

{{ end}}
