{{ $shelveID := .Get "shelve" }}
{{ $shelve := getJSON (printf "https://api.geheimesite.nl/resources/books/%s" $shelveID) }}

{{ if eq $shelve.type "timeline" }} 
    {{ $years := $shelve.items }}
    {{ range $years }}

            {{ markdownify (printf "## %s" .title) }}

            <ul class="book-grid">
                {{ $books := .items }}
                {{ range $books }}
                    {{ $image := resources.Get (printf "assets/images/books/%s" .cover) }} 
                    {{ $image := $image.Resize "250x webp" }}

                    <li>
                        <h3>{{ .title }}</h3>
                        <span>{{ .author }}</span>

                        <a href="{{ .url }}">
                            <img src="{{ $image.RelPermalink }}" alt="Cover of {{ .title }} by {{ .author }}" />
                        </a>
                    </li>
                {{ end }}
            </ul>
            
    {{ end}}
{{ else }}

    <h2>{{ i18n $shelve.title }}</h2>

    <ul class="book-grid">
        {{ $books := $shelve.items }}
        {{ range $books }}
            {{ $image := resources.Get (printf "assets/images/books/%s" .cover) }} 
            {{ $image := $image.Resize "450x webp"}}

            <li>
                <h3>{{ .title }}</h3>
                <span>{{ i18n "by" }} {{ .author }}</span>

                <a href="{{ .url }}">
                    <img src="{{ $image.RelPermalink }}" alt="Cover of {{ .title }} by {{ .author }}" />
                </a>
            </li>
        {{ end }}
    </ul>

{{ end}}
