<form action="https://api.geheimesite.nl/contact/form" method="post">
    <input
        class="input"
        type="email"
        name="email"
        placeholder="Emailadres..." />
    <input
        class="input"
        type="text"
        name="subject"
        placeholder="Onderwerp..." />
    <textarea
        class="input md-mark resize-none max-h-90"
        name="message"
        placeholder="Bericht..."></textarea>
    <input class="input button" type="submit" name="send" value="Verzenden" />
</form>
