<ul class="project-grid">
    {{ range .Site.Data.projects.main }} 
    
        <li>
            {{ $project_name := .name }}
            {{ $repo_name := index (split .repo "/") 1 }}
            <h3>{{ $project_name }}</h3>

            <a href="{{ with .page }}{{ . }}{{ else }}https://github.com/{{ .repo }}{{ end }}">

                {{ with .image }}

                    {{ $image := resources.Get (printf "assets/images/projects/%s" .) }} 
                    {{ $image := $image.Resize "800x450 webp"}}

                    <img src="{{ $image.RelPermalink }}" alt="{{ $project_name }}" />

                {{ else }}

                    {{ with resources.GetRemote (printf "https://raw.githubusercontent.com/%s/master/screenshot.png" .repo) }}

                        {{ $image := .Content | resources.FromString (printf "assets/images/projects/%s.webp" $repo_name)}}
                        {{ with $image.Fill "800x450 webp" }}

                            <img
                                src="{{ .RelPermalink }}"
                                alt="{{ $project_name }}" />

                        {{ end }}

                    {{ else }}

                        {{ $image := resources.Get "assets/images/projects/missing.png" }}

                        {{ $image :=  $image.Content | resources.FromString "assets/images/projects/missing.webp" }}
                        {{ $image :=  $image.Resize (printf "%dx%d webp" $image.Width $image.Height) }}

                        <img
                            src="{{ $image.RelPermalink }}"
                            alt="{{ $project_name }}" />

                    {{ end }}

                {{ end }}
            </a>
        </li>
    {{ end }} 
</ul>
