<ul class="project-grid">
    {{ $projects := getJSON
    "https://api.github.com/users/RobinBoers/repos?per_page=500" }} 
    
    {{ range sort $projects "forks" "desc" }} 
        {{ $repo_name := .name }}
        {{ if (and (not .archived) (not .fork) (not (in $.Site.Data.projects.blacklist $repo_name))) }}
            <li>
                <h3>{{ $repo_name }}</h3>

                <a href="{{ with .homepage }}{{ . }}{{ else }}{{ .html_url }}{{ end }}">

                    {{ with resources.GetRemote (printf "https://raw.githubusercontent.com/RobinBoers/%s/master/screenshot.png" $repo_name) }}

                        {{ with .Fill "420x236 webp" }}

                            <img
                                src="{{ .RelPermalink }}"
                                alt="{{ $repo_name }}" />

                        {{ end }}

                    {{ else }}

                        {{ with resources.GetRemote "https://via.placeholder.com/160x80.png?text=View%20on%20GitHub" }}

                            <img
                                src="{{ .RelPermalink }}"
                                alt="{{ $repo_name }}" />

                        {{ end }}

                    {{ end }}
                </a>
            </li>
        {{ end }} 
    {{ end }}
</ul>
