{{ $profile := getJSON "https://api.geheimesite.nl/resources/profile" }}

<!-- Hidden metadata for IndieWeb -->
<div class="hidden" hidden>
    <p class="u-note">
        TLDR; I'm a webdesigner, programmer, and nerd living in the {{ index
        $profile "p-country-name" }}. I'm {{ index $profile "p-age" }} years old
        and I currently work at {{ index $profile "p-org" }}.
    </p>
    <p>
        More about me: people sometimes call me
        <span class="u-nickname">{{ index $profile "p-nickname" }}</span>
        and I live in the
        <span class="p-region">{{ index $profile "p-country-name" }}</span>. I
        currently work at
        <span class="p-org">{{ index $profile "p-org" }}</span> as
        <span class="p-job-title">{{ index $profile "p-job-title" }}</span>. You
        can find me and my projects at
        <a href='{{ index $profile "u-url" }}' rel="me" class="u-url"
            >{{ index (split (index $profile "u-url") "://") 1 }}</a
        >. If you need to reach me you can contact me at
        <a class="u-email" href='mailto:{{ index $profile "u-email" }}'
            >{{ index $profile "u-email" }}</a
        >.
    </p>
</div>
