{{ $topics := .Site.Data.videos }}

{{ range $topics }}

    <h2 class="mt-14">{{ .title }}</h2>

    <ul class="videos">
        {{ range .items }}
            <li class="video">
                <a class="video-title" href="{{ .url }}">{{ .title }}</a>
                <span class="video-creator">{{ .creator }}</span>
            </li>
        {{ end }}
    </ul>

{{ end }}

<style>
    :root {
        --foreground: 34, 35, 35;
        --background: 240, 240, 246;
        --primary: 255, 70, 70;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --foreground: 240, 240, 246;
            --background: 34, 35, 35;
            --primary: 255, 70, 70;
        }
    }

    .videos {
        padding-inline-start: 0;
    }

    .videos .video {
        list-style: none;
        margin-bottom: 1.57142857em;
    }

    .video-title {
        font-size: larger;
    }
    .video-title,
    .video-creator {
        line-height: revert;
        width: max-content;
        max-width: 100%;
    }

    .video-creator {
        font-style: italic;
        display: block;
    }

    html {
        background: linear-gradient(to right, magenta, orangered);
        background-blend-mode: hue, normal;
        background-position: center;
        background-size: 120%;
    }
    body {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        background-attachment: fixed;
        color: white;
        height: initial;
    }

    .page-content {
        background: rgb(var(--background));
        color: rgb(var(--foreground));
        border-top: 7px solid rgb(var(--primary));
        padding-bottom: 27px;
        padding-top: 50px;
    }
</style>
