<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="november" stylesheet="/punkt.css" root {assigns} />

    <meta name="description" content="november — cute black box in the corner of my bedroom" />

    <style>
      html {
        background: #f43f5e;
        color: white;
      }

      body {
        text-align: center;
        font-size: 2em;
        margin: 3em auto;
        max-width: 50ch;
      }

      h1 {
        font-size: 1em;
      }

      a {
        color: currentColor;
        text-decoration-color: #f995a6;
      }
    </style>
  </head>
  <body>
    <h1>november</h1>
    <p>i'm very busy building a nice page here. come back later:)</p>
    <p>for now, check out my <a href="//geheimesite.nl">homepage</a> and <a href="//nm.geheimesite.nl">netmap</a> for most information.</p>
  </body>
</html>
