<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ .Page.Title }} — geheimesite.nl | {{ .Site.Title }}</title>

    <link rel="stylesheet" href="/assets/css/main.css" />
    <script defer src="/assets/js/menu.js"></script>

    {{ with .Page.Params.hideFromGoogle }}
    <!-- Prevent search engines from indexing -->
    <meta name="robots" content="noindex" />
    {{ end }}
</head>
