html {
  height: 100vh;
  width: 100vw;
  background: #0000aa;
  color: white;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 70ch;
}

* {
  font-size: 1.2rem;
}

h1 {
  background: white;
  color: #0000aa;
  max-width: fit-content;
  margin: 0 auto;
  padding: 0.3em;
  text-transform: uppercase;
}

a {
  color: currentColor;
}

ul {
  list-style: "* ";
  margin: 0;
  padding: 1ch 2ch;
}
