/*
  standard css for *.geheimesite.nl
  also by me-- AGPLv3.
*/

@import url("punkt.css");

body {
  max-width: 850px;
  margin: 0 auto;
  font-size: clamp(1.1rem, 2.75vw, 1.3rem);
  line-height: 1.6;
}

main {
  padding: 10px;
}

a:where([href]) {
  color: #f43f5e;
  text-decoration-color: light-dark(#f995a6, #e9637a);
}

body > header {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  background: #f43f5e;
  box-shadow: 0 0 0 100vmax #f43f5e;
  clip-path: inset(0 -100vmax);
  color: white !important;
  margin-bottom: 1em;
}

body > header a {
  color: currentColor;
  text-decoration-color: light-dark(#f995a6, #e9637a);
}

body > header hgroup {
  margin-bottom: 0.25em;
}

body > header nav {
  margin-top: -0.5em;
  padding: 1em 0;
}

body > header nav a {
  font-size: 1.3em;
  text-transform: lowercase;
}

body > footer {
  margin: 2em 0;
  opacity: 0.8;
  font-size: 0.9em;
  text-align: center;
}

body > footer a,
.h-feed .u-url {
  color: currentColor;
  text-decoration-color: light-dark(#aaa, #888);
}

body > footer > p {
  text-align: center;
  margin: 3em 0;
}

body > footer > address {
  font-size: 0.9em;
  font-style: normal;
  font-family: sans-serif;
}

body > footer > address p {
  max-width: 65ch;
}

body > footer > address:before {
  content: "—";
}

body > footer address p {
  margin: 0.6em 0;
  position: relative;
}

body > footer address svg {
  filter: grayscale();
  position: absolute;
  top: 0.3em;
  left: -1.4em;
  width: 1em;
  height: 1em;
}

body > footer blockquote {
  color: currentcolor;
  padding: 0;
  border: none;
  margin: 0.3em 0;
}

body > footer address + blockquote {
  margin-top: 2em;
}

:is(footer blockquote, article) a[href^="https://"]:not(.button)::after {
  content: " ↗";
}

.box {
  background: light-dark(#ededed, #00000033);
  opacity: 0.8;
  margin-bottom: 0.2em;
}

p.box {
  font-style: italic;
  padding: 0.5em;
}

section.box, aside.box {
  padding: 1em;
}

.box > :first-child {
  margin-top: 0;
}

.box > :last-child {
  margin-bottom: 0;
}

.h-entry > hgroup time {
  opacity: .6;
}

.h-entry > footer .reply-by-email {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 0;
}

.h-entry > footer .reply-by-email a {
  font-size: 1.1em;
}

body:has(.h-entry) > footer {
  text-align: center;
}

h2.refs, h2.h3 {
  border-bottom: 0;
  font-size: 1.1em;
  padding-bottom: 0;
}

.footnotes {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #00000033;
  font-size: .9em;
  opacity: .7;
}

.footnote-backref {
  font-size: .7em;
}