/*
  main stylesheet
  also by me-- AGPLv3.
*/

@import url("punkt.css");

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 7px;
}

@media (width >= 1000px) {
  body {
    margin-left: 12.5%;
    margin-right: auto;
    margin-top: 2em;
  }
}

body > header nav a {
  text-decoration: none;
  font-size: 0.8em;
}

body > footer {
  margin: 2em 0;
  opacity: 0.8;
  font-size: 0.9em;
}

body > footer > p {
  text-align: center;
  margin: 3em 0;
}

body > footer small {
  opacity: 0.8;
  max-width: 65ch;
  font-size: 0.9em;
  display: block;
}

body > footer small:before {
  content: "—";
}

body > footer small p {
  margin: 0.6em 0;
  position: relative;
}

body > footer small svg {
  position: absolute;
  top: 0.3em;
  left: -1.4em;
  width: 1em;
  height: 1em;
}

body > footer blockquote {
  color: currentcolor;
  padding: 0;
  border: none;
  margin: 0.3em 0;
}

body > footer small + blockquote {
  margin-top: 2em;
}

:is(footer blockquote, article) a[href^="https://"]::after {
  content: " ↗";
}

.box {
  background: light-dark(#ededed, #00000033);
  opacity: 0.8;
  margin-bottom: 0.2em;
}

p.box {
  font-style: italic;
  padding: 0.5em;
}

section.box, aside.box {
  padding: 1em;
}

.box > :first-child {
  margin-top: 0;
}

.box > :last-child {
  margin-bottom: 0;
}
