/*******************************************
    This is a part of geheimesite.nl
    Made by Robin Boers
*******************************************/

/** Algemeen **/

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Press+Start+2P&display=swap');

html, body, :root {
	font-family: sans-serif;
    margin:0;
    color: white;
    box-sizing: border-box;
    /* background-image: url(../images/background/code.png); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #141414;
    height: 100%;   
}

main a:hover {
    text-decoration: underline;
}

a {
    color: #58A6FF;
    text-decoration: none;
}

header {
    height: 10%;
}

.hp main section:first-child {
    display: grid;
    margin: 0;
    grid-template-areas: "left right";
    grid-template-columns: 52% 48%;
    grid-template-rows: auto;
}

.social img {
    margin: 2px;
    margin-top: 0;
}

.social a:hover {
    text-decoration: none;
}
/* 
.social {
    text-align: center;
} */

.error {
    border: 1px solid darkred;
    background-color: indianred;
    border-radius: 5px;
    color: darkred;
    padding: 5px;
}

.msg {
    border: 1px solid darkgreen;
    background-color: lightgreen;
    color: darkgreen;
    border-radius: 5px;
    padding: 5px;
}

.hp section.blog {
    margin-top: 60px;
}

/** Tekst & Lettertype **/

h1,h2 {
    font-family: 'Press Start 2P', sans-serif !important;
    perspective: 1000px;
    font-weight: bold;
}

h1,h2,h3,h4,h5,h6,.kop {
    font-weight: bold;
}

.nodec, .nodec * {
    text-decoration: none !important;
}

hr {
    border-top: 1px solid #272727;
}

/** Positionering **/

*, *:before, *:after {
  box-sizing: inherit;
}

.right {
    float: right;
}
.left {
    float: left;
}
.two {
    width: 50%;
}

.clearfix {
    overflow: auto;
}

@media all and (min-width: 1250px) {
    .frame {
        width: 60%;
        margin: auto;
    }
}

.hp-menu {
    text-align: center;
}

/** Images **/

.parralax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img.pixelart {
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated ;
}

.pixelprofile {
    width: 400px;
    height: 400px;
    margin-left: 60px; 
}

.hp main {
    margin-top: 80px;
}

/** Forms **/
input, button, textarea {
    border-radius: 4px;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    margin-left: 0;
    outline: none;
    background-color: white;
    -webkit-box-shadow: inset 6px 5px 11px -8px rgba(0,0,0,0.31);
    -moz-box-shadow: inset 6px 5px 11px -8px rgba(0,0,0,0.31);
    box-shadow: inset 6px 5px 11px -8px rgba(0,0,0,0.31);
}
input[type="submit"], input[type="button"], button {
    background-color: royalblue;
    border-color: darkslateblue;
    color: white;
    /* display: block; */
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}
textarea {
    min-height: 100px;
    min-width: 50%;
    resize: none;
}

/** Other stuff **/

.profile-box {
    background-color:#191919;
}

.profile-box .error {
    margin-left: 10px;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
}

.work-vak {
    background-color:#191919;
    font-weight:bolder;
    border:2px solid #191919;
    transition: transform .2s;
}

.work-vak div {
    color: #f1f1f1 !important;
    background-color: #191919 !important;
}

.work-vak a {
    text-decoration:none !important;
}

.sector1 .work-vak {
    min-height: 135px;
}
.sector2 .work-vak {
    min-height: 194px;
}
.sector3 .work-vak {
    min-height: 160px;
}


/* Zoom effect on hover */

.work-vak:hover {
    transform: scale(1.1); 
    z-index:2;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex_i {
    margin-top: 5px;
}

@media all and (min-width: 900px) {
    .flex_i {
        width:24%;
    }
}
@media all and (max-width: 900px) {
    .flex_i {
        width:49%;
    }
}
@media all and (max-width: 500px) {
    .flex_i {
        width:100%;
    }
}

/* Side nav for small screens, thanks to w3schools.com */

@media all and (min-width: 600px) {
    .smallNavButton {
        display: none !important;
    }
}

@media all and (max-width: 600px) {
    .hp-menu-item {
        display: none !important;
    }
}


.small-nav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #101010; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.25s;
}

.small-nav a {
    transition: 0.3s;
}

.small-nav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.frame {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .small-nav {padding-top: 15px;}
    .small-nav a {font-size: 18px;}
}

.smallNavButton {
    cursor: pointer;
}

.small-nav .w3-button {
    display:block;
}

.blog a {color: #f1f1f1 !important;text-decoration:none !important;}.blog.w3-card-4 {
    background-color: #191919 !important;
    color: #f1f1f1 !important;
}

/* Animations */

.glitch{
    animation: glitch 1s linear infinite;
}

@keyframes glitch{
    2%,64%{
        transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
        transform: translate(-2px,0) skew(0deg);
    }
    62%{
        transform: translate(0,0) skew(5deg); 
    }
}

.glitch:before,
.glitch:after{
    content: attr(title);
    position: absolute;
    left: 0;
}

.glitch:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
    2%,64%{
        transform: translate(2px,-2px);
    }
    4%,60%{
        transform: translate(-2px,2px);
    }
    62%{
        transform: translate(13px,-1px) skew(-13deg); 
    }
}

.glitch:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
    2%,64%{
        transform: translate(-2px,0);
    }
    4%,60%{
        transform: translate(-2px,0);
    }
    62%{
        transform: translate(-22px,5px) skew(21deg); 
    }
}

.ani span.active {
    animation: shrinkjump 2s ease-in-out;
    transform-origin: bottom center;
}

@keyframes shrinkjump {
    10%, 35% {
        transform: scale(2, .2) translate(0, 0);
    }

    45%, 50% {
        transform: scale(1) translate(0, -150px);
    }

    80% {
        transform: scale(1) translate(0, 0);
    }
}

.hidden {
    opacity:0;
}
.console {
    /* font-family:Khula; */
    display: inline;
}

.typed-cursor {
    font-size: 30px;
    font-family: "Press Start 2P";
    font-weight: bolder;
}