{% liquid
    if language == "en"
        assign email_text = "Emailaddress"
        assign subject_text = "Subject"
        assign message_text = "Message"
        assign send_text = "Send"
    elsif language == "nl"
        assign email_text = "Emailadress"
        assign subject_text = "Onderwerp"
        assign message_text = "Bericht"
        assign send_text = "Verzenden"
    endif
%}

<form
    action="https://api.geheimesite.nl/contact/form"
    method="post">
    <input
        class="input"
        type="email"
        name="email"
        placeholder="{{ email_text }}..." />
    <input
        class="input"
        type="text"
        name="subject"
        placeholder="{{ subject_text }}..." />
    <textarea
        class="input md-mark resize-none max-h-90"
        name="message"
        placeholder="{{ message_text }}..."></textarea>
    <input
        class="input button"
        type="submit"
        name="send"
        value="{{ send_text }}" />
</form>