{% liquid
    if language == "en"
        assign email_text = "Emailaddress"
        assign button_text = "Subscribe"
    elsif language == "nl"
        assign email_text = "Emailadress"
        assign button_text = "Abboneren"
    endif
%}

<form
    action="https://api.follow.it/subscription-form/TlkwVEt0TXhNL0JNK2F1TVI1c3NFbG1iZU5rSElBVW8xRVNrVmZSb0ZzVTVtTFNGMjlwV3hHZ0o1Y0dqYUdJWTFyUWUvVmhyVHh1bzl3VHEweWFsanNOdHJ6ckE2c3E4eExLR3RhZ21yV1JvdHJxbDVPUWNxejRYMjhvY01RUTF8Y3kwZE0zMDA3YVoxWmlzV1MrWnRGUkNZNUdEamVMVEZnMHpRQ25tdmh4ST0=/8"
    method="post">
    <label for="email">{{ label_text }}</label>
    <input class="input" id="email" type="email" name="email" placeholder="{{ email_text }}" />
    <input class="input button" type="submit" value="{{ button_text }}" />
</form>