{% if projects | first %}
    <table class="h-feed">
        <thead>
            <tr>
                <th>Project</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr class="h-entry">
                    <td class="p-title">
                        <a class="u-url" href="
                            {%- if project.source -%}
                            https://git.dupunkto.org/{{ project.source }}
                            {%- elsif project.homepage -%}
                            {{ project.homepage }}
                            {%- endif -%}">
                            {{ project.title }}
                        </a>
                    </td>
                    <td>{{ project.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}