@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fira+Sans+Condensed:ital,wght@1,200&family=Merriweather&family=Poppins:wght@600&display=swap");

:root {
  --black: 13, 43, 69;
  /* #0d2b45 */
  --white: 255, 236, 214;
  /* #ffffff */
  --vibrant: 255, 170, 94;
  /* #ffaa5e */
}

*, ::before, ::after{
  --ot-sups: "sups" 0;
  --ot-subs: "subs" 0;
  --ot-sinf: "sinf" 0;
  --ot-hlig: "hlig" 0;
  --ot-ss01: "ss01" 0;
  --ot-ss02: "ss02" 0;
  --ot-ss03: "ss03" 0;
  --ot-ss04: "ss04" 0;
  --ot-features: var(--ot-sups), var(--ot-subs), var(--ot-sinf), var(--ot-hlig), var(--ot-ss01), var(--ot-ss02), var(--ot-ss03), var(--ot-ss04);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop{
  --ot-sups: "sups" 0;
  --ot-subs: "subs" 0;
  --ot-sinf: "sinf" 0;
  --ot-hlig: "hlig" 0;
  --ot-ss01: "ss01" 0;
  --ot-ss02: "ss02" 0;
  --ot-ss03: "ss03" 0;
  --ot-ss04: "ss04" 0;
  --ot-features: var(--ot-sups), var(--ot-subs), var(--ot-sinf), var(--ot-hlig), var(--ot-ss01), var(--ot-ss02), var(--ot-ss03), var(--ot-ss04);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --ot-sups: "sups" 0;
  --ot-subs: "subs" 0;
  --ot-sinf: "sinf" 0;
  --ot-hlig: "hlig" 0;
  --ot-ss01: "ss01" 0;
  --ot-ss02: "ss02" 0;
  --ot-ss03: "ss03" 0;
  --ot-ss04: "ss04" 0;
  --ot-features: var(--ot-sups), var(--ot-subs), var(--ot-sinf), var(--ot-hlig), var(--ot-ss01), var(--ot-ss02), var(--ot-ss03), var(--ot-ss04);
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

/* General */

hr {
  border-width: 0px;
  border-top: 1px solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  margin: 0;
}

/** Hyperlinks **/

a:not(.button, .no-underline){
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

a:not(.button, .no-underline):hover{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

a{
  --tw-text-opacity: 1;
  color: rgba(var(--black), var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: rgb(var(--vibrant));
          text-decoration-color: rgb(var(--vibrant));
}

a:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--vibrant), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--black), var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark){
  a{
    --tw-text-opacity: 1;
    color: rgba(var(--white), var(--tw-text-opacity));
  }
}

/** Scrollbar hack **/

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

/** Smooth scrolling **/

html {
  scroll-behavior: smooth;
}

/** Borderbox hack **/

html {
  box-sizing: border-box;
}

*,
    *:before,
    *:after {
  box-sizing: inherit;
}

/* Tables */

section > table, 
    article > table, 
    .table{
  width: 100%;
  border-collapse: collapse;
}

section > table, 
    article > table, 
    .table, 
    section > table th, 
    article > table th, 
    .table th, 
    section > table td, 
    article > table td, 
    .table td{
  border-width: 1px;
  border-style: solid;
  border-color: rgba(var(--black), 0.7);
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark){
  section > table, 
    article > table, 
    .table, 
    section > table th, 
    article > table th, 
    .table th, 
    section > table td, 
    article > table td, 
    .table td{
    border-color: rgba(var(--white), 0.7);
  }
}

/* Typography */

/** Base **/

html,
    .root {
  font-size: clamp(1.125rem, 3vw, 1.3125rem);
  line-height: 33px;
}

body {
  line-height: 1.57142857em;
  font-family: Merriweather, Georgia, serif;
}

h1,
    .h1 {
  font-size: 2em;
  line-height: 1.57142857em;
  margin-top: 0.78571429em;
  margin-bottom: 0.78571429em;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2,
    .h2 {
  font-size: 1.57142857em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Fira Sans Condensed, sans-serif;
}

h3,
    .h3 {
  font-size: 1.23809524em;
  line-height: 2.53846154em;
  margin-top: 1.26923077em;
  margin-bottom: 0em;
}

h4,
    .h4 {
  font-size: 1em;
  line-height: 1.57142857em;
  margin-top: 1.57142857em;
  margin-bottom: 0em;
}

h5,
    .h5 {
  font-size: 1em;
  line-height: 1.57142857em;
  margin-top: 1.57142857em;
  margin-bottom: 0em;
}

p,
    ul,
    ol,
    pre,
    table,
    blockquote,
    iframe,
    figure {
  margin-top: 0em;
  margin-bottom: 1.57142857em;
}

ul ul,
    ol ol,
    ul ol,
    ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/** Let's make sure all's aligned **/

hr,
    .hr {
  margin: -1px 0;
}

a,
    b,
    i,
    strong,
    em,
    small,
    code {
  line-height: 0;
}

sub,
    sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

figcaption{
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: italic;
  --tw-brightness: brightness(1.25);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (prefers-color-scheme: dark){
  figcaption{
    --tw-brightness: brightness(.75);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

blockquote {
  padding-left: 40px;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.homepage-box{
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px){
  .homepage-box{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 1280px){
  .homepage-box{
    padding-left: 0px;
    padding-right: 0px;
  }
}

.input{
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: block;
  width: 100%;
  border-radius: 0px;
  border-width: 2px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgba(var(--vibrant), var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--white), var(--tw-bg-opacity));
  padding: 0.5rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(var(--black), var(--tw-text-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark){
  .input{
    background-color: transparent;
    --tw-text-opacity: 1;
    color: rgba(var(--white), var(--tw-text-opacity));
  }
}

.button{
  cursor: pointer;
  border-radius: 0px;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--vibrant), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--black), var(--tw-text-opacity));
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:hover{
  --tw-brightness: brightness(.9);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.md-mark::before{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-image: url('../assets/images/ui/md-mark.svg');
  background-size: 30px;
  background-position: right 7px bottom 7px;
  background-repeat: no-repeat;
  --tw-brightness: brightness(2);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  --tw-content: '';
  content: var(--tw-content);
}

@media (prefers-color-scheme: dark){
  .md-mark::before{
    content: var(--tw-content);
    filter: none;
  }
}

.title{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: Bungee Shade, sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: lowercase;
}

/* .bold {
        @apply w-[fit-content] bg-black text-white dark:bg-white dark:text-black;
    } */

.bold{
  font-family: ui-monospace, DejaVu LGC Sans Code, DejaVu Sans Code, DejaVu Sans Mono, Cascadia Code, Droid Sans Mono, SFMono-Regular, monospace;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(var(--vibrant), var(--tw-text-opacity));
}

.tagcloud{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-top: 2.5rem;
  line-height: 2.5rem;
}

.tagcloud a[data-weight="1"] {
  --size: 1;
}

.tagcloud a[data-weight="2"] {
  --size: 2;
}

.tagcloud a[data-weight="3"] {
  --size: 3;
}

.tagcloud a[data-weight="4"] {
  --size: 4;
}

.tagcloud a[data-weight="5"] {
  --size: 5;
}

.tagcloud a[data-weight="6"] {
  --size: 6;
}

.tagcloud a[data-weight="7"] {
  --size: 7;
}

.tagcloud a[data-weight="8"] {
  --size: 8;
}

.tagcloud a[data-weight="9"] {
  --size: 9;
}

.tagcloud a {
  --size: attr(data-weight number, 2);
  font-size: 1.5rem;
  margin: 0.125rem 0.25rem;
  font-size: calc(var(--size) * 0.25rem);
}

/* General */

img{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--white), var(--tw-bg-opacity));
  background-attachment: fixed;
  --tw-text-opacity: 1;
  color: rgba(var(--black), var(--tw-text-opacity));
}

body *::-moz-selection{
  background-color: rgba(var(--black), 0.4);
  --tw-text-opacity: 1;
  color: rgba(var(--white), var(--tw-text-opacity));
}

body *::selection{
  background-color: rgba(var(--black), 0.4);
  --tw-text-opacity: 1;
  color: rgba(var(--white), var(--tw-text-opacity));
}

body::-moz-selection{
  background-color: rgba(var(--black), 0.4);
  --tw-text-opacity: 1;
  color: rgba(var(--white), var(--tw-text-opacity));
}

body::selection{
  background-color: rgba(var(--black), 0.4);
  --tw-text-opacity: 1;
  color: rgba(var(--white), var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark){
  body{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--black), var(--tw-bg-opacity));
    background-image: linear-gradient(to top right, var(--tw-gradient-stops));
    --tw-gradient-from: #111121;
    --tw-gradient-to: rgb(17 17 33 / 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: rgb(var(--black));
    --tw-text-opacity: 1;
    color: rgba(var(--white), var(--tw-text-opacity));
  }

  body *::-moz-selection{
    background-color: rgba(var(--white), 0.4);
    --tw-text-opacity: 1;
    color: rgba(var(--black), var(--tw-text-opacity));
  }

  body *::selection{
    background-color: rgba(var(--white), 0.4);
    --tw-text-opacity: 1;
    color: rgba(var(--black), var(--tw-text-opacity));
  }

  body::-moz-selection{
    background-color: rgba(var(--white), 0.4);
    --tw-text-opacity: 1;
    color: rgba(var(--black), var(--tw-text-opacity));
  }

  body::selection{
    background-color: rgba(var(--white), 0.4);
    --tw-text-opacity: 1;
    color: rgba(var(--black), var(--tw-text-opacity));
  }
}

.pageheader{
  text-align: center;
}

.page-content{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1100px;
  flex-grow: 1;
}

.pageheader nav{
  width: 100%;
  justify-content: space-around;
  padding: 0.5rem;
}

@media (min-width: 1024px){
  .pageheader nav{
    display: flex;
  }
}

.pageheader nav ul{
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  padding: 0px;
  transition-property: height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 1024px){
  .pageheader nav ul{
    height: auto;
    flex-direction: row;
  }
}

.pageheader nav ul li{
  list-style-type: none;
  text-transform: lowercase;
}

.pageheader nav ul li a, 
    .pageheader nav ul li.selected{
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.pageheader nav ul li a::before, 
    .pageheader nav ul li.selected::before{
  --tw-content: '/';
  content: var(--tw-content);
}

.pageheader nav ul li a,
    .pageheader nav ul li.selected {
  /* before:content-['<'] after:content-['/>'] */
}

.pageheader nav ul li.selected{
  font-weight: 700;
}

.page-footer{
  padding: 1.25rem;
  text-align: center;
}

.h-card-header{
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2.5rem;
}

@media (min-width: 1280px){
  .h-card-header{
    display: grid;
  }
}

.h-card-header {
  /* grid-template-columns: 50% 40%; */
}

.h-card-header .h-card p, 
    .h-card-header .h-card h1{
  max-width: none;
}

.section, 
    section > p, 
    article > p, 
    section > h1, 
    article > h1, 
    section > h2, 
    article > h2, 
    section > h3, 
    article > h3, 
    section > h4, 
    article > h4, 
    section > ul, 
    article > ul, 
    section > ol, 
    article > ol, 
    form, 
    section > table, 
    article > table, 
    blockquote, 
    .footnotes{
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 640px){
  .section, 
    section > p, 
    article > p, 
    section > h1, 
    article > h1, 
    section > h2, 
    article > h2, 
    section > h3, 
    article > h3, 
    section > h4, 
    article > h4, 
    section > ul, 
    article > ul, 
    section > ol, 
    article > ol, 
    form, 
    section > table, 
    article > table, 
    blockquote, 
    .footnotes{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 768px){
  .section, 
    section > p, 
    article > p, 
    section > h1, 
    article > h1, 
    section > h2, 
    article > h2, 
    section > h3, 
    article > h3, 
    section > h4, 
    article > h4, 
    section > ul, 
    article > ul, 
    section > ol, 
    article > ol, 
    form, 
    section > table, 
    article > table, 
    blockquote, 
    .footnotes{
    max-width: 28rem;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1024px){
  .section, 
    section > p, 
    article > p, 
    section > h1, 
    article > h1, 
    section > h2, 
    article > h2, 
    section > h3, 
    article > h3, 
    section > h4, 
    article > h4, 
    section > ul, 
    article > ul, 
    section > ol, 
    article > ol, 
    form, 
    section > table, 
    article > table, 
    blockquote, 
    .footnotes {
    max-width: 650px;
  }
}

section > ul,
    article > ul,
    section > ol,
    article > ol {
  padding-left: revert;
}

figure img{
  width: 100%;
}

.featured p,
    .featured h1,
    .featured h2,
    .h-feed p,
    .h-feed h1,
    .h-feed h2 {
  max-width: revert;
}

.skip-nav{
  position: absolute;
  top: 0px;
  left: 7px;
  --tw-translate-y: -120%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-bg-opacity: 1;
  background-color: rgba(var(--black), var(--tw-bg-opacity));
  padding: 1rem;
  text-transform: lowercase;
  --tw-text-opacity: 1;
  color: rgba(var(--white), var(--tw-text-opacity));
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.skip-nav:focus{
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (prefers-color-scheme: dark){
  .skip-nav{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--white), var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(var(--black), var(--tw-text-opacity));
  }
}

.project-grid{
  margin: 0px;
  display: grid;
  width: 100%;
  max-width: revert;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  padding: 0px;
}

@media (min-width: 768px){
  .project-grid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
  }
}

@media (min-width: 1024px){
  .project-grid{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px){
  .project-grid{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.project-grid li{
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: flex-end;
}

.project-grid li h3{
  margin-top: 0px;
  margin-left: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 768px){
  .project-grid li h3{
    margin-left: 0px;
  }
}

.project-grid li a{
  background-color: transparent;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.project-grid li a:hover{
  background-color: transparent;
  --tw-brightness: brightness(.9);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.project-grid li a img{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  aspect-ratio: 16 / 9;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.music-list {
  counter-reset: item;
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  list-style-type: none;
  padding: 0px;
}

.music-list li{
  display: flex;
  gap: 0.5rem;
}

.music-list li h3.new::after{
  margin-left: 0.25rem;
  border-radius: 0.375rem;
  background-color: rgba(var(--vibrant), 0.2);
  padding: 0.125rem;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(var(--vibrant), var(--tw-text-opacity));
  content: "new";
  line-height: 2px !important;
}

.music-list li .track-artist{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.music-list li div{
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.music-list li div *{
  display: inline;
}

.music-list li::before{
  vertical-align: middle;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  content: counter(item);
  counter-increment: item;
}

pre code, 
    code pre{
  display: block;
  width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(27 28 29 / var(--tw-bg-opacity));
  padding: 12px;
  font-family: ui-monospace, DejaVu LGC Sans Code, DejaVu Sans Code, DejaVu Sans Mono, Cascadia Code, Droid Sans Mono, SFMono-Regular, monospace;
  line-height: revert;
  --tw-text-opacity: 1;
  color: rgb(173 173 173 / var(--tw-text-opacity));
}

.menu-button{
  display: inline;
  height: 1.25rem;
  width: 1.25rem;
  cursor: pointer;
}

@media (prefers-color-scheme: dark){
  .menu-button{
    --tw-invert: invert(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

@media (min-width: 1024px){
  .menu-button{
    display: none;
  }
}

.title a{
  background-color: transparent;
  color: currentColor;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-text-decoration-color: rgb(var(--white));
          text-decoration-color: rgb(var(--white));
}

.title a:hover{
  background-color: transparent;
  color: currentColor;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

@media (prefers-color-scheme: dark){
  .title a{
    -webkit-text-decoration-color: rgb(var(--black));
            text-decoration-color: rgb(var(--black));
  }
}

.badges{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.badges img{
  max-height: 30px;
  width: auto;
}

.hyperfeed{
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px){
  .hyperfeed{
    display: flex;
  }
}

.hyperpost{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-left: 0px;
  margin-right: 0px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: rgb(69 109 149 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(206 227 248 / var(--tw-bg-opacity));
  padding: 1.25rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --tw-shadow: 18px 10px 0px 0px rgba(33, 144, 255, 1);
  --tw-shadow-colored: 18px 10px 0px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (prefers-color-scheme: dark){
  .hyperpost{
    --tw-border-opacity: 1;
    border-color: rgb(23 52 80 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(69 109 149 / var(--tw-bg-opacity));
    --tw-shadow: 18px 10px 0px 0px #cee3f8;
    --tw-shadow-colored: 18px 10px 0px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (min-width: 768px){
  .hyperpost{
    min-width: 550px;
  }
}

.hyperpost p{
  margin: 0px;
  --tw-text-opacity: 1;
  color: rgb(25 60 95 / var(--tw-text-opacity));
}

@media (prefers-color-scheme: dark){
  .hyperpost p{
    --tw-text-opacity: 1;
    color: rgb(205 230 255 / var(--tw-text-opacity));
  }
}

@media (min-width: 768px){
  .hyperfeed .hyperpost:nth-child(10n){
    margin-left: -18px;
  }

  .hyperfeed .hyperpost:nth-child(10n + 1){
    margin-left: 18px;
  }

  .hyperfeed .hyperpost:nth-child(10n + 2){
    margin-left: -32px;
  }

  .hyperfeed .hyperpost:nth-child(10n + 3){
    margin-left: -8px;
  }

  .hyperfeed .hyperpost:nth-child(10n + 4){
    margin-left: -38px;
  }

  .hyperfeed .hyperpost:nth-child(10n + 5){
    margin-left: 28px;
  }

  .hyperfeed .hyperpost:nth-child(10n + 6){
    margin-left: -18px;
  }

  .hyperfeed .hyperpost:nth-child(10n + 7){
    margin-left: 18px;
  }

  .hyperfeed .hyperpost:nth-child(10n + 8){
    margin-left: -8px;
  }

  .hyperfeed .hyperpost:nth-child(10n + 9){
    margin-left: 32px;
  }
}

.featured{
  margin-top: 5rem;
}

.featured .h-entry{
  margin-bottom: 4rem;
}

.p-name a {
  color: inherit !important;
  background-color: inherit !important;
  text-decoration: none !important;
}

.footnotes {
  font-size: 70%;
  border-top: 1px solid rgb(208, 203, 188);
  margin-top: 90px;
  margin-bottom: 30px;
  padding: 5px;
  padding-top: 30px;
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}

.footnotes li{
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 22px;
}

.footnotes li:not(:last-child){
  margin-bottom: 20px;
}

.footnotes p{
  margin-bottom: 0px;
}

.footnotes hr{
  display: none;
}

.pointer-events-none{
  pointer-events: none;
}

.static{
  position: static;
}

.absolute{
  position: absolute;
}

.top-\[80px\]{
  top: 80px;
}

.right-\[-200px\]{
  right: -200px;
}

.isolate{
  isolation: isolate;
}

.col-span-full{
  grid-column: 1 / -1;
}

.m-0{
  margin: 0px;
}

.my-7{
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.mt-36{
  margin-top: 9rem;
}

.mb-0{
  margin-bottom: 0px;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-0{
  margin-top: 0px;
}

.ml-1{
  margin-left: 0.25rem;
}

.mt-1\.5{
  margin-top: 0.375rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.block{
  display: block;
}

.inline{
  display: inline;
}

.flex{
  display: flex;
}

.table{
  display: table;
}

.hidden{
  display: none;
}

.aspect-video{
  aspect-ratio: 16 / 9;
}

.aspect-square{
  aspect-ratio: 1 / 1;
}

.h-full{
  height: 100%;
}

.h-60{
  height: 15rem;
}

.min-h-\[5rem\]{
  min-height: 5rem;
}

.w-full{
  width: 100%;
}

.w-1\/2{
  width: 50%;
}

.max-w-none{
  max-width: none;
}

.max-w-sm{
  max-width: 24rem;
}

.max-w-\[1200px\]{
  max-width: 1200px;
}

.max-w-xl{
  max-width: 36rem;
}

.flex-grow{
  flex-grow: 1;
}

.resize-none{
  resize: none;
}

.resize{
  resize: both;
}

.list-none{
  list-style-type: none;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.justify-around{
  justify-content: space-around;
}

.gap-20{
  gap: 5rem;
}

.gap-2{
  gap: 0.5rem;
}

.gap-1{
  gap: 0.25rem;
}

.rounded-xl{
  border-radius: 0.75rem;
}

.rounded-md{
  border-radius: 0.375rem;
}

.border-0{
  border-width: 0px;
}

.border-x-0{
  border-left-width: 0px;
  border-right-width: 0px;
}

.border-t-\[7px\]{
  border-top-width: 7px;
}

.border-solid{
  border-style: solid;
}

.border-none{
  border-style: none;
}

.border-vibrant{
  --tw-border-opacity: 1;
  border-color: rgba(var(--vibrant), var(--tw-border-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--white), var(--tw-bg-opacity));
}

.bg-vibrant\/20{
  background-color: rgba(var(--vibrant), 0.2);
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-right-top{
  -o-object-position: right top;
     object-position: right top;
}

.p-0{
  padding: 0px;
}

.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-0\.5{
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.py-0{
  padding-top: 0px;
  padding-bottom: 0px;
}

.pl-12{
  padding-left: 3rem;
}

.pt-1{
  padding-top: 0.25rem;
}

.pt-\[50px\]{
  padding-top: 50px;
}

.pb-\[27px\]{
  padding-bottom: 27px;
}

.text-center{
  text-align: center;
}

.font-poppins{
  font-family: Poppins, sans-serif;
}

.font-serif{
  font-family: Merriweather, Georgia, serif;
}

.font-fira{
  font-family: Fira Sans Condensed, sans-serif;
}

.font-display{
  font-family: Bungee Shade, sans-serif;
}

.font-sans{
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-7xl{
  font-size: 4.5rem;
  line-height: 1;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[30px\]{
  font-size: 30px;
}

.font-semibold{
  font-weight: 600;
}

.font-normal{
  font-weight: 400;
}

.font-bold{
  font-weight: 700;
}

.lowercase{
  text-transform: lowercase;
}

.italic{
  font-style: italic;
}

.not-italic{
  font-style: normal;
}

.leading-\[33px\]{
  line-height: 33px;
}

.text-white{
  --tw-text-opacity: 1;
  color: rgba(var(--white), var(--tw-text-opacity));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgba(var(--black), var(--tw-text-opacity));
}

.no-underline{
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.shadow-md{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.contrast-125{
  --tw-contrast: contrast(1.25);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.grayscale{
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.small-caps{
  font-variant-caps: small-caps;
}

/* Chrome, Safari and Opera */

.pixelart {
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: pixelated;
}

.supplement{
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: italic;
  --tw-brightness: brightness(1.25);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (prefers-color-scheme: dark){
  .supplement{
    --tw-brightness: brightness(.75);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

/* Scale down?

html {
    transform: scale(0.9) translateY(-190px);
} */

.hover\:bg-transparent:hover{
  background-color: transparent;
}

.hover\:bg-vibrant:hover{
  --tw-bg-opacity: 1;
  background-color: rgba(var(--vibrant), var(--tw-bg-opacity));
}

.hover\:opacity-80:hover{
  opacity: 0.8;
}

@media (prefers-color-scheme: dark){
  .dark\:bg-black{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--black), var(--tw-bg-opacity));
  }

  .dark\:bg-slate\/70{
    background-color: rgb(17 17 33 / 0.7);
  }

  .dark\:text-white{
    --tw-text-opacity: 1;
    color: rgba(var(--white), var(--tw-text-opacity));
  }
}

@media (min-width: 640px){
  .sm\:flex-row-reverse{
    flex-direction: row-reverse;
  }

  .sm\:px-10{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 768px){
  .md\:mt-6{
    margin-top: 1.5rem;
  }

  .md\:p-0{
    padding: 0px;
  }
}

@media (min-width: 1024px){
  .lg\:mr-0{
    margin-right: 0px;
  }

  .lg\:mb-0{
    margin-bottom: 0px;
  }

  .lg\:-ml-10{
    margin-left: -2.5rem;
  }

  .lg\:mr-10{
    margin-right: 2.5rem;
  }

  .lg\:block{
    display: block;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:h-fit{
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .lg\:w-1\/5{
    width: 20%;
  }

  .lg\:w-auto{
    width: auto;
  }

  .lg\:max-w-xl{
    max-width: 36rem;
  }

  .lg\:rotate-1{
    --tw-rotate: 1deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:-rotate-2{
    --tw-rotate: -2deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:flex-row-reverse{
    flex-direction: row-reverse;
  }

  .lg\:gap-4{
    gap: 1rem;
  }
}

@media (min-width: 1280px){
  .xl\:static{
    position: static;
  }
}
