<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        <a class="skip-nav" href="#content">Skip navigation</a>
        <header class="flex flex-col sm:flex-row-reverse items-center justify-around">
            <p class="title"><a href="/">Robin Boers</a></p>

            <nav>
                <a href="/">❮ Back</a>
            </nav>
        </header>

        <main id="content" class="page-content">
            <article>
                {{ with .Params.hideTitle }}
                    {{ $.Content }}
                {{ else }}
                    <h1>{{ $.Title }}</h1>
                    {{ $.Content }}
                {{ end }}
            </article>
        </main>

        {{- partial "footer.html" . -}}
    </body>
</html>
