<!DOCTYPE html>
<html lang="en">
  <head>
    <.head {assigns} />

    <style>
      .favorite {
        position: relative;

        &::before {
          content: "★";
          position: absolute;
          left: -1.2em;
        }
      }

      time {
        opacity: 0.7;
      }

      main > header {
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: space-between;
      }

      main > header > a.button {
        margin-bottom: .8em;
      }

      tbody tr {
        border-bottom: none;
      }

      tbody td {
        padding-top: 0;
        padding-body: 0;
      }

      tbody tr:first-child td {
        padding-top: .45em;
      }
    </style>
  </head>
  <body>
    <.nav {assigns} />

    <main>
      <header>
        <hgroup>
          <h1>{config!(:blog, :title)}</h1>
          <p>{config!(:blog, :description)}</p>
        </hgroup>
        <a class="button" href="/rss">Subscribe</a>
      </header>

      <table class="h-feed">
        <thead>
          <tr>
            <th class="p-name">Post<span hidden="">s</span></th>
            <th>Published</th>
          </tr>
        </thead>
        <tbody>
          <tr :for={entry <- Blog.list_posts()} :if={!entry.rssonly} class="h-entry">
            <td class="p-title">
              <a class={["u-url", entry.favorite && "favorite"]} href={canonical(entry.path)}>
                {entry.title}
              </a>
            </td>
            <td>
              <time class="dt-published" datetime={Date.to_iso8601(entry.date)}>
                {Calendar.strftime(entry.date, "%b %d, %Y")}
              </time>
            </td>
          </tr>
        </tbody>
      </table>
    </main>

    <footer>
      <.footer />
    </footer>
  </body>
</html>