<!DOCTYPE html>
<html lang="en">
  <head>
    <.head {assigns} />

    <style>
      .h-feed {
        padding: 0;
        list-style: none;
      }

      @media (min-width: 900px) {
        /* When updating, don't forget the rule in main.css too */
        .h-feed {
          margin-left: 1.25em;
        }
      }

      .h-entry a {
        line-height: 1.8;
        text-decoration-color:;
      }

      .favorite {
        position: relative;

        &::before {
          content: "★";
          position: absolute;
          left: -1.5em;
        }
      }

      hgroup > span {
        display: flex;
        gap: 1em;
        align-items: flex-end;
      }
    </style>
  </head>
  <body>
    <.nav {assigns} />

    <main>
      <hgroup>
        <span>
          <h1>{config!(:blog, :title)}</h1>
          <a class="subscribe-button" href="/rss">Subscribe</a>
        </span>
        <p>{config!(:blog, :description)}</p>
      </hgroup>

      <table class="h-feed">
        <thead>
          <tr>
            <th class="p-name">Post<span hidden="">s</span></th>
            <th>Published</th>
          </tr>
        </thead>
        <tbody>
          <tr :for={entry <- Blog.list_posts()} :if={not entry.rss_only} class="h-entry">
            <td class="p-title">
              <a class="u-url" href={canonical(entry.path)}>
                {entry.title}
              </a>
            </td>
            <td>
              <time class="dt-published" datetime={Date.to_iso8601(entry.date)}>
                {Calendar.strftime(entry.date, "%b %d, %Y")}
              </time>
            </td>
          </tr>
        </tbody>
      </table>
    </main>

    <footer>
      <.footer />
    </footer>
  </body>
</html>