<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="Friends :love:" {assigns} />

    <style>
      p { max-width: 754px }
      a { text-decoration: none !important }
      img { image-rendering: pixelated }
    </style>
  </head>
  <body>
    <.nav {assigns} />

    <main>
      <h1>Friends :love:</h1>

      <p>
        Beautifully chaotic collection of oldschool 88x31 buttons--
        the true friendship bracelets of the Web.
      </p>

      <p>
        <a href="//validator.w3.org/nu/?doc=https%3A%2F%2Fgeheimesite.nl">
          <.badge src="/images/buttons/valid-html.gif" alt="Valid HTML" />
        </a>
        <a href="//jigsaw.w3.org/css-validator/check/referer">
          <.badge src="/images/buttons/valid-css.gif" alt="Valid CSS" />
        </a>
        <.badge src="/images/buttons/invalidator.gif" alt="Shit HTML" />
        <a
          href="//validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fgeheimesite.nl%2Findex.xml">
          <.badge src="/images/buttons/valid-rss.png" alt="Valid RSS" />
        </a>
        <a
          href="//validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fgeheimesite.nl%2Fatom.xml">
          <.badge src="/images/buttons/valid-atom.png" alt="Valid Atom" />
        </a>
        <a
          href="//www.jwz.org/blog/2016/10/they-live-and-the-secret-history-of-the-mozilla-logo/">
          <.badge src="/images/buttons/choose-mozilla.gif" alt="Choose Mozilla" />
        </a>
        <a href="//duckduckgo.com">
          <.badge src="/images/buttons/duckduckgo.gif" alt="DuckDuckGo" />
        </a>
        <.badge src="/images/buttons/internet-exploder.gif" alt="Microsoft Internet Exploder" />
        <a href="//mozilla.org">
          <.badge src="/images/buttons/mozilla-old.gif" alt="Mozilla" />
        </a>
        <.badge src="/images/buttons/best-viewed-with-eyes.gif" alt="Best viewed with Eyes" />
        <a href="//yewtu.be/watch?v=dQw4w9WgXcQ">
          <.badge src="/images/buttons/clickhere.gif" alt="Click here" />
        </a>
        <a href="//firefox.com">
          <.badge src="/images/buttons/firefox.gif" alt="Firefox" />
        </a>
        <a href="//firefox.com">
          <.badge src="/images/buttons/firefox2.gif" alt="Firefox" />
        </a>
        <a href="//pages.github.com">
          <.badge src="/images/buttons/github-pages.gif" alt="Powered by Microsoft GitHub Pages" />
        </a>
        <a href="//gnu.org/licenses/agpl-3.0.en.html">
          <.badge src="/images/buttons/agpl.gif" alt="AGPLv3" />
        </a>
        <a href="//gnu.org/licenses/gpl-3.0.en.html">
          <.badge src="/images/buttons/gpl.gif" alt="GPLv3" />
        </a>
        <a href="//yesterweb.org/no-to-web3/">
          <.badge src="/images/buttons/fuckweb3.gif" alt="Keep the Web Free, Say NO to web3" />
        </a>
        <a href="//www.stephendiehl.com/blog.html">
          <.badge src="/images/buttons/nft.gif" alt="NFT? No fucking thanks." />
        </a>
        <a href="//drewdevault.com/2016/05/11/In-Memoriam-Mozilla.html">
          <.badge src="/images/buttons/mozilla.gif" alt="Mozilla Now!" />
        </a>
        <a href="//neocities.org">
          <.badge src="/images/buttons/neocities-now.gif" alt="NeoCities Now!" />
        </a>
        <a href="//gutenberg.org">
          <.badge src="/images/buttons/gutenberg.gif" alt="Gutenberg Project" />
        </a>
        <a href="//minecraft.net">
          <.badge src="/images/buttons/minecraft.gif" alt="Minecraft" />
        </a>
        <.badge src="/images/buttons/netscape-now.gif" alt="Netscape Now!" />
        <a href="/blog/monocultuur-op-de-browsermarkt">
          <.badge src="/images/buttons/fuckchrome.gif" alt="Chrome: Same Shit, Different Asshole" />
        </a>
        <a href="//joinmastodon.org">
          <.badge src="/images/buttons/mastodon.gif" alt="Join Mastodon!" />
        </a>
        <a href="//latexeditor.lagrida.com">
          <.badge src="/images/buttons/latex.gif" alt="LaTeX" />
        </a>
        <.badge src="/images/buttons/built-with-notepad.gif" alt="Built with Notepad" />
        <a href="//gimp.org">
          <.badge src="/images/buttons/gimp.gif" alt="Graphics by Gimp" />
        </a>
        <.badge src="/images/buttons/fuckfacebook.gif" alt="Fuck Facebook" />
        <a href="http://hat.net/abs/noclick/">
          <.badge src="/images/buttons/dontclickhere.gif" alt="Don't click here" />
        </a>
        <a href="//indieweb.org">
          <.badge src="/images/buttons/indieweb-now.gif" alt="IndieWeb Now!" />
        </a>
        <a href="/colophon">
          <.badge src="/images/buttons/no-cookies.gif" alt="No Cookies" />
        </a>
        <a href="//theoldnet.com">
          <.badge src="/images/buttons/theoldnet.gif" alt="TheOldNet" />
        </a>
        <a href="//neocities.org">
          <.badge src="/images/buttons/neocities.gif" alt="NeoCities" />
        </a>
        <a href="//indieweb.org">
          <.badge src="/images/buttons/indieweb.png" alt="IndieWeb" />
        </a>
        <a href="//webmention.net">
          <.badge src="/images/buttons/webmention.png" alt="Webmention" />
        </a>
        <a href="//microformats.org">
          <.badge src="/images/buttons/microformats.png" alt="Microformats3" />
        </a>
        <a href="/colophon">
          <.badge src="/images/buttons/webmentions.gif" alt="Webmentions supported" />
        </a>
        <a href="//archlinux.org">
          <.badge src="/images/buttons/linux.gif" alt="Made on GNU/Linux" />
        </a>
        <a href="/rss">
          <.badge src="/images/buttons/rss.gif" alt="RSS feed" />
        </a>
        <a href="//freebsd.org">
          <.badge src="/images/buttons/powered-by-freebsd.gif" alt="Powered by FreeBSD" />
        </a>
        <.badge src="/images/buttons/humanmade.gif" alt="Human-made" />
        <.badge src="/images/buttons/bad-hair-days.gif" alt="There are no bad hair days on the internet" />
        <.badge src="/images/buttons/16bit.gif" alt="Best viewed 1024x768 16bit color" />
        <.badge src="/images/buttons/piracy.gif" alt="Piracy Now!" />
        <a href="//lynx.browser.org">
          <.badge src="/images/buttons/lynx-now.gif" alt="Lynx Now!" />
        </a>
        <.badge src="/images/buttons/dumbass.gif" alt="dumbass webmaster ahead!" />
        <.badge src="/images/buttons/design.png" alt="graphic design is my passion" />
        <.badge src="/images/buttons/queer.png" alt="you're telling me a queer coded this" />
        <a href="//satyrs.eu">
          <.badge src="/images/buttons/sites/satyrs.png" alt="Satyrs Forest" />
        </a>
        <a href="//devastatia.com">
          <.badge src="/images/buttons/sites/devastatia.png" alt="Devastatia" />
        </a>
        <a href="//foreverliketh.is">
          <.badge src="/images/buttons/sites/foreverlikethis.png" alt="Foreverliketh.is" />
        </a>
        <a href="//maya.land">
          <.badge src="/images/buttons/sites/mayaland.png" alt="Maya Land" />
        </a>
        <a href="//degenerates.neocities.org">
          <.badge src="/images/buttons/sites/degenerate.png" alt="Degenerates" />
        </a>
        <a href="//suboptimalism.neocities.org/writings/yesterweb">
          <.badge src="/images/buttons/yesterweb.png" alt="YesterWeb" />
        </a>
        <a href="//sadgrl.online">
          <.badge src="/images/buttons/sites/sadgrl.gif" alt="sadgrl" />
        </a>
        <a href="//wiby.me">
          <.badge src="/images/buttons/wiby.gif" alt="Wiby" />
        </a>
        <a href="//old.reddit.com">
          <.badge src="/images/buttons/reddit.gif" alt="Reddit" />
        </a>
        <.badge src="/images/buttons/fuckai.png" alt="written by human, NOT AI" />
        <a href="//indieseek.xyz">
          <.badge src="/images/buttons/indieseek.png" alt="IndieSeek" />
        </a>
      </p>

      <p>
        <.badge alt="" src="/images/buttons/small/cc0.png" />
        <.badge alt="" src="/images/buttons/small/indieweb.webp" />
        <.badge alt="" src="/images/buttons/small/microformats.webp" />
        <.badge alt="" src="/images/buttons/small/webmention.png" />
        <.badge alt="" src="/images/buttons/small/anybrowser.png" />
        <.badge alt="" src="/images/buttons/small/valid-html5.png" />
        <.badge alt="" src="/images/buttons/small/valid-rss2.png" />
        <.badge alt="" src="/images/buttons/small/valid-css.png" />
      </p>

      <p>
        <a style="display: block; float: right" href="//gossipsweb.net">
          <img
            src="/images/buttons/madewithhands.jpg"
            alt="This website was made with hands."
            height="45"
            width="330" />
        </a>
      </p>

      <p>
        Here's my button: <br />
        <.badge src="/images/button.png" alt="Axcelott :sparkles:" />
      </p>
    </main>

    <footer>
      <.footer />
    </footer>
  </body>
</html>