<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="Robin was here" root {assigns} />

    <!-- IndieWeb compatibility -->
    <link rel="webmention" href="//api.geheimesite.nl/webmentions">
    <link rel="pingback" href="//api.geheimesite.nl/pingback">
    <link rel="authorization_endpoint" href="//nym.dupunkto.org" />
    <link rel="token_endpoint" href="//tokens.indieauth.com/token" />

    <!-- RSS, because it's amazing -->
    <link rel="alternate" type="application/rss+xml" title="lil notes (RSS)" href="//geheimesite.nl/index.xml">
    <link rel="alternate" type="application/atom+xml" title="lil notes (Atom)" href="//geheimesite.nl/atom.xml">
    <link rel="alternate" type="application/feed+json" title="lil notes (JSON)" href="//geheimesite.nl/feed.json">

    <!-- Elsewhere on the Web: -->
    <link rel="me" href="//dupunkto.org/~axcelott" />
    <link rel="me" href="//git.dupunkto.org/~axcelott" />
    <link rel="me" href="//github.com/RobinBoers" />
    <link rel="me" href="//codeberg.org/RobinBoers" />
    <link rel="me" href="//linkedin.com/in/robin-boers" />
    <link rel="me" href="//instagram.com/oblivxi0us" />
    <link rel="me" href="//snapchat.com/@oblivxi0us" />

    <!-- Homepage-specific CSS (might be dirty, but hey! it works :) -->
    <style>
      h2 {
        border: none;
        padding: 0;
        font-size: 1.1em;
      }
      
      .p-family-name::after {
        content: ".";
      }

      body {
        padding: 7px;
        max-width: none;
        margin: 0;
        padding: 0;
        font-size: clamp(0.9rem, 2vw, 1.2rem);
        line-height: 1.5;
      }

      body > main {
        max-width: 54ch;
        margin: 0 auto;
        padding: 10px;
        font-size: 1.6em;
        display: flex;
        flex-direction: column;
        gap: 1em;
      }

      body > main p {
        margin: 0;
        max-width: 78%;
      }

      body > main p:nth-child(even) {
        align-self: flex-end;
        text-align: right;
      }

      body > main > p:first-child {
        margin-top: 40px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      @media (max-width: 1030px) {
        body > footer address {
          margin-left: 1.5em;
        }
      }

      body > footer {
        opacity: 1;
        text-align: left;
        max-width: 1000px;
        margin: 0 auto;
        margin-top: 3em;
        padding: 1em;
        display: flex;
        flex-wrap: wrap;
        gap: 2.5em 4em;
        background: #f43f5e;
        box-shadow: 0 0 0 100vmax #f43f5e;
        clip-path: inset(0 -100vmax);
        color: white !important;
      }

      body > footer pre {
        background: white !important;
      }

      body > footer a {
        color: currentColor;
        text-decoration-color: #f995a6;
      }

      body > footer section,
      body > footer nav {
        font-size: 1.5em;
      }

      body > footer section {
        max-width: 50ch;
      }

      body > footer > address, 
      body > footer > blockquote {
        display: block;
        width: 100%;
        flex-grow: 1;
      }

      body > footer address svg {
        filter: grayscale() brightness(100);
      }

      body > footer nav h3 {
        font-size: 1.1em;
      }

      body > footer nav a {
        text-transform: lowercase;
        white-space: nowrap;
        font-size: 1.3em;
      }
    </style>
  </head>
  <body class="h-card">
    <main>
      <p>
        hii, i'm <span class="p-name"><span class="p-given-name">Robin</span> <span class="p-family-name" hidden>Boers</span></span>!!
      </p>
      
      <p>
        <span class="p-note">
          i <a href="//git.dupunkto.org">write code</a> and <a href="//manuelmoreale.com/thoughts/the-beauty-of-broken-things">break things</a>.
        </span>
      </p>

      <p>
        i'm (already) <%= @now.year - 2007 - if({@now.month, @now.day} < {1, 13}, do: 1, else: 0) %>yo.
      </p>

      <p>
        I <a href="//uni.geheimesite.nl">study</a> Educational Sciences @ <abbr title="Utrecht University">UU</abbr>, and live in
        <span class="p-locality">Maassluis</span>, the
        <span class="p-country-name">Netherlands</span>.
      </p>

      <p>
        this website is running from <a href="//nov.dupunkto.org">november</a>, a cute black box in the corner of my bedroom.
      </p>

      <p>
        <a href="/stability">website stability note</a>
      </p>

      <p>I love programming, <a href="/blogroll">reading</a>, <a href="/blog">writing</a> and biking.</p>

      <!--
      <p>
        i somewhat regularly post <em>things</em> on
        <a href="/blog">my blog</a>. ('Somewhat regularly' meaning:
        around once a year, if I feel like it.)
      </p>-->

      <p>
        I co-founded <a href="//dupunkto.org">:du:punkto</a>. We write software and publish
        it in the public domain.
      </p>

      <p>
        I'm also a frontend designer and developer working at
        <span class="p-org h-card">
          <a class="p-name u-url" href="//qdentity.nl" hreflang="nl">Qdentity</a>
        </span> and <span class="p-org h-card"><a class="p-name u-url" href="//maakotheek.nl" hreflang="nl">Maakotheek</a></span>.
      </p>

      <p>
        You can hire me at <a href="//11networks.nl">11networks</a>, my webdesign&nbsp;studio.
      </p>

      <p>
        i'm a cat person. love you <a href="//instagram.com/coconootje23">Coco</a>.
      </p>

      <p>:)</p>
    </main>

    <footer>
      <section>
        <h2 id="contact">contact</h2>

        <p>
          feel free to reach out! i'll reply on most socials. if you know
          my username you'll be able to find me. You can also contact me
          <a href="//linkedin.com/in/robin-boers">on LinkedIn</a>. and
          of course via <a class="u-email" href="/contact">good old electronic mailing</a>:
        </p>

        <pre><code>printf "%s@%s.%s\n" axcelott dupunkto org</code></pre>

        <p>i won't make any promises regarding response time. be patient,
        i'll eventually reply.. <small>&nbsp;&nbsp;&nbsp;&nbsp;occasional reminders are ok!</small></p>
      </section>

      <nav>
        <h2 id="menu">meta</h2>

        <ul>
          <.la href="/stability">Stability note</.la>
          <.la href="/the-archives">The Archives</.la>
          <.la href="/netmap">Netmap</.la>
          <.la href="//inbox.geheimesite.nl">Inbox</.la>
          <.la href="/colophon">Colophon</.la>
          <.la href="/privacy">Privacy</.la>
        </ul>
      </nav>

      <address>
        <p class="cc0">
          <.icon name="cc0.svg" />

          All original content on this website is freely available in the public
          domain in accordance with the
          <a href="//creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal license</a>. Download, copy, remix all allowed.
        </p>

        <p class="github">
          <.icon name="gh.svg" />

          Source code for this site is licensed AGPLv3.
          <a href={"#{config!(:repo)}/blob/trunk/src/#{@host}/#{@path}.heex"}>Edit this page on GitHub</a>.
        </p>

        <p class="elixir">
          <.icon name="elixir.svg" />

          Built using Vygotsky v{Vygotsky.version()}. Last deployed at
          <time datetime={DateTime.to_iso8601(@now)}>{Calendar.strftime(@now, "%b %d, %Y")}</time> from
          Maassluis, the Netherlands.
          <a href={"#{config!(:repo)}/commit/#{sh!("git rev-parse HEAD")}"}>See changes in <code>{sh!("git rev-parse --short HEAD")}</code></a>.
        </p>
      </address>

      <blockquote cite="//youtube.com/watch?v=6avJHaC3C2U">
        <a href="//yewtu.be/watch?v=6avJHaC3C2U" target="_blank">
          Code is poetry
        </a>
      </blockquote>
    </footer>
  </body>
</html>
