<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="Robin (aka axcelott)" root {assigns} />

    <!-- IndieWeb compatibility -->
    <link rel="webmention" href="//api.geheimesite.nl/webmentions">
    <link rel="pingback" href="//api.geheimesite.nl/pingback">
    <link rel="authorization_endpoint" href="//nym.dupunkto.org" />

    <!-- RSS, because it's amazing -->
    <link rel="alternate" type="application/rss+xml" title="lil notes (RSS)" href="//geheimesite.nl/index.xml">
    <link rel="alternate" type="application/atom+xml" title="lil notes (Atom)" href="//geheimesite.nl/atom.xml">
    <link rel="alternate" type="application/feed+json" title="lil notes (JSON)" href="//geheimesite.nl/feed.json">

    <!-- Elsewhere on the Web: -->
    <link rel="me" href="//dupunkto.org/~axcelott" />
    <link rel="me" href="//git.dupunkto.org/axcelott" />
    <link rel="me" href="//github.com/RobinBoers" />
    <link rel="me" href="//codeberg.org/RobinBoers" />
    <link rel="me" href="//linkedin.com/in/robin-boers-b18691229/" />
    <link rel="me" href="//robijntje.itch.io" />

    <!-- Homepage-specific CSS (might be dirty, but hey! it works :) -->
    <style>
      h2 {
        border: none;
        padding: 0;
      }

      body {
        padding: 7px;
      }

      body > main {
        max-width: 52ch;
      }

      @media (min-width: 500px) {
        /* Only show jump link to bottom of screen on mobile & unstyled */
        body p.jump {
          display: none;
        }

        body {
          display: grid;
          grid-template-columns: 20ch 52ch;
          gap: 2em;
          margin: initial;
        }

        body > main {
          grid-row: 1;
          grid-column: 2;
        }

        body > nav {
          margin-top: -0.1em;
          grid-row: 1;
          grid-column: 1;
          text-align: right;
        }

        body > main > p:first-child,
        body > nav h3:first-of-type {
          margin-top: 40px;
        }

        body > footer {
          grid-column: 2;
        }

        body > nav summary {
          display: none;
        }
      }

      @media (max-width: 500px) {
        /* Make "Menu" label look like heading */
        body > nav summary h2 {
          display: inline;
        }
        body > nav summary::marker {
          font-size: 0;
        }
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      body > nav a {
        text-transform: lowercase;
        white-space: nowrap;
      }

      body > footer small {
        font-family: sans-serif;
        font-size: 0.8em;
        filter: grayscale();
      }
    </style>
  </head>
  <body>
    <p class="jump"><a href="#menu">Menu 🞃</a></p>

    <main class="h-card">
      <p>
        <b class="p-name">
          <span class="p-given-name">Robin</span>
          <span class="p-family-name">Boers</span>.
        </b>
        I'm a teenage developer. I write pretty decent software.
      </p>

      <p>
        <a class="u-email" href="/contact">contact</a> :dot:
        <a href="/stability">website stability note</a>
      </p>

      <h2 id="about">About me</h2>

      <p>
        Hi, I'm <span class="p-name">Robin</span> (<span class="p-pronouns">he/him</span>), also known as <i class="p-nickname">axcelott</i> online. I'm a 19yo
        teenager from <span class="p-locality">Maassluis</span> in the
        <span class="p-country-name">Netherlands</span>. As everyone says these
        days, this is my little corner of the vast internet.
      </p>

      <p>
        I currently work as as
        <span class="p-job-title">Full-stack developer</span> at
        <span class="p-org h-card">
          <a class="p-name u-url" href="//qdentity.nl" hreflang="nl">Qdentity</a>
        </span>
        and as <span class="p-job-title">Sysadmin & lead developer</span> at
        <span class="p-org h-card">
          <a class="p-name u-url" href="//maakotheek.nl" hreflang="nl">Maakotheek</a></span>. I'm studying Educational Sciences at Utrecht University.
      </p>

      <p>
        Some random facts about me: I have a cat called Coco (who apparently has
        an instagram profile:
        <a href="//instagram.com/coconootje23">@coconootje23</a>, go follow
        him!). I love <a href="//obliviously.eu/music">my Discman and iPods</a>.
        My guilty pleasure is definitely Ben&Jerrys. I enjoy playing Minecraft.
        I'm very clumsy; I tend to
        <a href="//manuelmoreale.com/the-beauty-of-broken-things">break</a>
        things.
      </p>

      <p>
        <a href="random.jpeg">Here's a random picture</a> I decided I liked :)
      </p>

      <h2 id="writing">Writing</h2>

      <p>
        I somewhat regularly post <em>things</em> on
        <a href="/blog">my blog</a>. ('Somewhat regularly' meaning:
        around once a year, if I feel like it.)
      </p>

      <p>Here's a little selection:</p>

      <ul>
        <li>
          <p>
            <.ta href="/iconic">Σkɔnik: Syntax & Sorcery</.ta>, a description of a
            constructed language similar to Esperanto.
          </p>
        </li>
        <li>
          <p>
            <.ta href="/cryptobros" lang="nl">In de ban van de Bitcoin</.ta>, a deep-dive into the subculture surrounding cryptobros.
          </p>
        </li>
        <li>
          <p>
            <.ta href="/blog/0x10c" lang="nl">0x10<sup>c</sup></.ta>, where I explore ideas related to interactive end-user programming as a game. 
          </p>
        </li>
        <li>
          <p>
            <.ta href="/blog/ai-education" lang="nl">AI in educational contexts</.ta>, an essay about the ways we could but shoudn't use AI tooling in the context of high schools.
          </p>
        </li>
      </ul>

      <p>
        I also
        <a
          href="//linkedin.com/posts/somtoday_hoe-leuk-robin-boers-schreef-een-artikel-activity-6934511671432380416-TAed/">
          got invited to Somtoday HQ
        </a>
        once, after I wrote a blogpost
        <a
          href="/blog/somtoday-ziet-er-niet-uit-maar-we-kunnen-het-oplossen-met-css">
          calling their UI ugly.
        </a>
      </p>

      <!--
      <h2 id="speaking">Speaking</h2>

      <ul>
        <li>
          <cite lang="nl"
            >Cryptobros: een prachtige en fantastische analyse</cite
          >
          (<a href="cryptobros.pdf" hreflang="nl">slides</a>)
        </li>
        <li>
          <cite lang="nl"
            >Taalbeschouwing: kunstmatige talen en waar ze te vinden</cite
          >
          (<a href="conlangs.pdf" hreflang="nl">slides</a>)
        </li>
      </ul>
      -->

      <h2 id="contact">Contact</h2>

      <p>
        You can reach me via email. I love a good conversation, so don't
        hesitate to shoot me an email, I'll always reply.
      </p>

      <pre><code>printf "%s@%s.%s\n" axcelott roblog nl</code></pre>

      <p>Cheers!</p>
    </main>

    <nav id="menu">
      <details open>
        <summary><h2>Menu</h2></summary>

        <h3>writing</h3>

        <ul>
          <.la href="/blog">Blog</.la>
          <.la href="/now">Now</.la>
          <.la href="/blogroll">Blogroll</.la>
          <.la href="//school.geheimesite.nl">School</.la>
          <.la href="//uni.geheimesite.nl">University</.la>
          <.la href="/rss">Subscribe</.la>
        </ul>

        <h3>work, art</h3>

        <ul phx-no-curly-interpolation>
          <.la href="//git.dupunkto.org">Code</.la>
          <.la href="/projects">Projects</.la>
          <.la href="/resume">Resumé</.la>
          <.la href="//dupunkto.org">{du}punkto</.la>
          <.la href="/r/place">r/place</.la>
          <.la href="/buttons">88 by 31</.la>
          <.la href="/js0.23">js0.23</.la>
        </ul>

        <h3>meta</h3>

        <ul>
          <.la href="/stability">Stability note</.la>
          <.la href="/the-archives">The Archives</.la>
          <.la href="/colophon">Colophon</.la>
          <.la href="/netmap">Netmap</.la>
          <.la href="/privacy">Privacy</.la>
        </ul>
      </details>
    </nav>

    <footer>
      <small>
        <p class="cc0">
          <.icon name="cc0.svg" />

          All original content on this website is freely available in the public
          domain in accordance with the
          <a href="//creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal license</a>. Download, copy, remix all allowed.
        </p>

        <p class="github">
          <.icon name="gh.svg" />

          Source code for this site is licensed AGPLv3.
          <a href={"#{config!(:repo)}/blob/trunk/src/#{@host}/#{@path}.heex"}>Edit this page on GitHub</a>.
        </p>

        <p class="elixir">
          <.icon name="elixir.svg" />

          Built using Vygotsky v{Vygotsky.version()}. Last deployed at
          <time datetime={DateTime.to_iso8601(@now)}>{Calendar.strftime(@now, "%b %d, %Y")}</time> from
          Maassluis, the Netherlands.
          <a href={"#{config!(:repo)}/commit/#{sh!("git rev-parse HEAD")}"}>See changes in <code>{sh!("git rev-parse --short HEAD")}</code></a>.
        </p>
      </small>

      <blockquote cite="//youtube.com/watch?v=6avJHaC3C2U">
        <a href="//yewtu.be/watch?v=6avJHaC3C2U" target="_blank">
          Code is poetry
        </a>
      </blockquote>
    </footer>
  </body>
</html>
