<!DOCTYPE html>
<html lang="en">
  <head>
    <.meta />

    <title>Invisible Prisons</title>

    <link rel="preconnect" href="//fonts.bunny.net">
    <link rel="stylesheet" href="//fonts.bunny.net/css2?family=Exo:wght@100..900&family=Josefin+Slab:wght@100..700&family=Maitree&display=swap">

    <style>
      html {
        color: aliceblue;
        background: linear-gradient(114deg, rgb(1, 0, 23) 0%, rgba(0,60,83,1) 58%, rgb(13, 0, 98) 100%);
        background-attachment: fixed;        
      }

      body {
        position: relative;
        max-width: 700px;
        width: 100%;
        padding: 1em;
        margin: 0 auto;
        padding-right: 600px;
        font-size: 1em;
        overflow-x: hidden;
      }

      p {
        font-size: 1.1rem;
        font-family: 'Maitree', 'Times New Roman', Times, serif;
        line-height: 1.5;
      }

      h1 {
        font-size: 2rem;
        font-family: "Exo", monospace;
        font-style: normal;
        margin-top: 2em;
      }

      blockquote {
        color: rgba(240, 248, 255, 0.824);
        font-family: "Exo", monospace;
        font-style: italic;
        margin-bottom: 2em;
        border: none;
        padding: 0;
      }

      blockquote p {
        font-size: 1.3rem;
      }

      footer p {
        text-align: right;
      }

      @media (min-width: 1222px) {
        .bg { display: block }
      }

      @media (min-width: 1400px) {
        blockquote p {
          position: fixed;
          bottom: 50px;
          right: 100px;
          max-width: 500px;
        }
      }

      .bg-img {
        position: fixed;
        opacity: 0.8;
        top: 0;
        right: -25vw;
        background-color: transparent;
        mix-blend-mode: hard-light;
        width: 100%;
        height: 100%;
        object-fit: cover;
        mask-image: linear-gradient(to right, transparent, transparent, white, white, white);
        mask-size: cover;
        pointer-events: none;
      }
    </style>
  </head>
  <body>
    <div class="bg" hidden>
      <img class="bg-img" src="https://cdn.geheimesite.nl/images/bird.webp" alt="">
    </div>

    <h1>Invisible Prisons</h1>

    <p>
      The shrieking sound of mechanical brakes echoes in the great tubes of the London Underground as the 0-18 arrives at Little Park Road. Inside, a dozen not-quite-birds are sitting on worn-out green benches, their faces illuminated by the blue light emitted by their shiny glass slabs. Routinely, a cold robotic voice announces a barely decipherable string of seemingly random syllables, and a few of the featherless animals get up. Their fellow passengers don't even seem to notice; all of them entirely absorbed by the glass slabs anxiously clamped in their hands, riding the waves of dopamine. Desperate for a temporary escape from their self-imposed misery, imperceptive of their surroundings.
    </p>

    <p>
      Amidst them, a young man is sitting; his face not covered by the soft blue glow of contemporary tragedy, but rather intently staring at a bundle of paper inscribed with incomprehensible symbols. The green spine looks weirdly turquoise in the bleak artificial lighting of the fluorescent tubes above.
    </p>

    <p>
      Opposite of him, a moderately attractive girl is inattentively swiping on her respective glossy rectangle. She's feeling restless, but can't quite place why. She swipes again; moving colored blobs back and forth in what was marketed as a highly engaging game of Candy Crush, but turned out to be a tiresome and frankly quite dull activity. Dissatisfied, she opens Instagram--which happened to be closest to her thumb after closing Candy Crush--and begins to scroll; still searching for that dopamine hit she so hopelessly craves.
    </p>

    <p>
      A high-pitched cracking comes out of the speakers of the cabin as the carriage comes to an abrupt halt. The robotic voice again echoes through the somber metro. Park Avenue. Again, no one really seems to notice. The young man gets up and makes his way to the doors. This is his stop.
    </p>

    <p>
      The girl does not notice. Occupied with her phone, she doesn't see the note the young man left for her behind, either. And with that, a brief window into the future closes for good. An entire lifetime of shared memories will now never happen.
    </p>

    <p>
      The metro gains speed again. The omniscient bird silently watches it run away. A few seconds later, it's gone.
    </p>

    <blockquote>
      <p>Their cages aren't built of iron, but of glass. Prisons whose bars they cannot see.</p>
    </blockquote>

    <footer>
      <p>
        <small><i>Written in despair, misery, tragedy and heartbreak. Forgotten in vain.</i></small>
      </p>
    </footer>
  </body>
</html>
