<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="Netmap" {assigns} />

    <style>
      li a:first-child {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <.nav {assigns} />

    <main>
      <.embed name="netmap.html" />
    </main>

    <footer class="page-footer">
      <.footer />
    </footer>
  </body>
</html>
