<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="Now" {assigns} />
  </head>
  <body>
    <.nav {assigns} />

    <main>
      <h1>Now</h1>

      <p style="margin-bottom: 3em">
        This page details what I'm up to at the moment.<br>
        Last updated December 2025 from Maassluis, The Netherlands. 
      </p>

      <p>
        I am in the first year of my bachelor now (Educational Sciences @ Utrecht University).
      </p>

      <p>
        I don't know how I feel about it. Intellectually, it is stimulating. Emotionally, I am exhausted. Socially, I am torn between my high school where I am very familiar and comfortable but also do not quite fit in anymore, and university, which is unfamiliar and far away. And I am not at university often enough to form a social circle there.
      </p>

      <hr>

      <p>
        At <a href="//qdentity.nl">Qdentity</a> and <a href="//maakotheek.nl">Maakotheek</a>, latest projects include building syncers, refactoring legacy code, migrating servers.
      </p>

      <p>
        I also actively maintain and develop for <a href="//dupunkto.org">:du:punkto</a>, together with my friends. Latest focus is unifying naming schemes, branding & styling, as well as formulating a mission statement compatible with the kind of software we produce.
      </p>

      <p>
        I have been thinking about starting my own company. (Maybe together with a close friend.)
      </p>

      <hr>

      <p>
        I am very hyped to continue working on <a href="/iconic">our constructed language</a>, this winter.
      </p>
    </main>

    <footer>
      <.footer />
    </footer>
  </body>
</html>
