<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="Now" {assigns} />
  </head>
  <body>
    <.nav {assigns} />

    <main>
      <h1>Now</h1>

      <p style="margin-bottom: 3em">
        This page details what I'm up to at the moment.<br>
        Last updated April 2026 from Maassluis, the Netherlands. 
      </p>

      <p>
        I am in the first year of my bachelor now (Educational Sciences @ Utrecht University).
      </p>

      <p>
        It's going well so far, but I am afraid that I'm cutting corners and falling behind.
      </p>

      <p>
        I do feel like I have developed much socially and emotionally the past half year. I feel like I have a better sense of identity.
      </p>

      <hr>

      <p>
        At <a href="//qdentity.nl">Qdentity</a> and <a href="//maakotheek.nl">Maakotheek</a>, latest projects include building syncers, refactoring legacy code, migrating servers.
      </p>

      <p>
        I also actively maintain and develop for <a href="//dupunkto.org">:du:punkto</a>, together with my friends. Latest focus is unifying naming schemes, branding & styling, as well as formulating a mission statement compatible with the kind of software we produce.
      </p>

      <p>
        I have also started my own webdesign studio, named <a href="//11networks.nl">11networks</a>.
      </p>
    </main>

    <footer>
      <.footer />
    </footer>
  </body>
</html>
