<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="Resumé" {assigns} />
    <style>
      h2 {
        border: none;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <.nav {assigns} />

    <main>
      <h1>Robin Boers</h1>

      <p>
        <strong>Full-stack developer & webdesigner</strong><br />
        <a href="/contact">hello@geheimesite.nl</a>
      </p>

      <h2>Technical skills</h2>

      <p>
        I'm pretty good at building websites. I know HTML/CSS, obviously. I'm
        also fluent in Elixir and JavaScript, and I know a little PHP and Python
        too. I generally prefer high-level functional programming languages
        without mutable references.
      </p>

      <p>
        I'm comfortable on the UNIX commandline and with Git version control. I
        also have experience with various flavours of SQL (mainly PostgresSQL at
        work and MySQL/SQLite for hobby projects) and a few styling frameworks,
        of which I liked TailwindCSS the best. I know a little Docker, but trust
        me, you don't want me to deploy production-critical software without
        supervision.
      </p>

      <p>
        I learn very quickly. I am capable of picking up and working with
        virtually any technology if needed.
      </p>

      <p>
        And yes, I <em>can</em> work with WordPress, but I'd rather use a
        <a href="//en.wikipedia.org/wiki/Static_site_generator">
          Static Site Generator.
        </a>
      </p>

      <h2>Experience</h2>

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Organisation</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Self-employed</td>
            <td>11networks</td>
            <td>2026-Current</td>
          </tr>
          <tr>
            <td>Sysadmin & lead developer</td>
            <td>Maakotheek</td>
            <td>2025-Current</td>
          </tr>
          <tr phx-no-curly-interpolation>
            <td>Co-founder & maintainer</td>
            <td>{du}punkto</td>
            <td>2023-Current</td>
          </tr>
          <tr>
            <td>Full-stack developer</td>
            <td>Qdentity</td>
            <td>2021-Current</td>
          </tr>
        </tbody>
      </table>

      <p>
        At <a href="//qdentity.nl">Qdentity</a>, I worked with Elixir, Phoenix
        LiveView and TailwindCSS and I built
        <a href="//sharefox.eu">Sharefox</a> along with a range of other
        internal APIs and tools. I also worked extensively on major parts and/or
        features of their CMS, BI suite, and streaming platform, and a variety of
        frontend projects for clients.
      </p>

      <p>
        I also built <a href="/projects">websites</a> as independent webdesigner
        for various people, before starting <a href="//11networks.nl">11networks</a>,
        my webdesign studio.
      </p>

      <h2>Certifications</h2>

      <table>
        <thead>
          <tr>
            <th>School</th>
            <th>Program</th>
            <th>Grade</th>
            <th>Duration</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Utrecht University</td>
            <td>Educational Sciences (bachelor)</td>
            <td></td>
            <td>2025-2028</td>
          </tr>
          <tr>
            <td>Lyceum Schravenlant</td>
            <td>Atheneum (VWO)</td>
            <td>Cum laude</td>
            <td>2019-2025</td>
          </tr>
        </tbody>
      </table>

      <h2>Languages</h2>

      <p>
        I speak both Dutch, which is my native language, as well as English,
        which I learned primarily through online interactions. For what is is
        worth, I finished my high school course with a 9, and got a 10 for both
        the <a href="/blog/ai-education">final writing assignment</a> and my
        <a href="/iconic">PWS</a> (in which we developed a constructed
        language).
      </p>

      <p>
        My spoken English is fairly decent in terms of general fluency (although
        I have a slight Dutch accent), however, I find my vocabulary to be
        disappointingly narrow, as it is primarily computer-focused. So
        basically, I can talk for hours about anything related to UNIX,
        networking, cryptography, mathmatics, or related subjects, but I'll
        struggle to formulate even a single sentence if you ask me about my
        holiday. (Good thing then, that I typically get paid for the computer
        stuff and not for talking about my holiday ;)
      </p>

      <h2>Interests</h2>

      <ul>
        <li>Education & psychology</li>
        <li>Writing (creative & academic)</li>
        <li>Free software (as in freedom)</li>
        <li>Functional programming</li>
        <li>Design & typography</li>
        <li>Open protocols</li>
        <li>*NIX systems</li>
        <li>Containerization & networking</li>
        <li>Researching & documenting software</li>
      </ul>
    </main>

    <footer class="page-footer">
      <.footer />
    </footer>
  </body>
</html>
