<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="What is RSS?" {assigns} />
  </head>
  <body>
    <.nav {assigns} />

    <main>
      <hgroup>
        <h1>What is RSS?</h1>
        <p>
          <small>
            (If you already know RSS, <a href="/index.xml">here's my feed</a>.)
          </small>
        </p>
      </hgroup>

      <p>
        This page used to remark my hate for social media, but as might be
        apparant from the existance of my Instagram and Snapchat accounts, I
        have shifted in this position a little. However, point still stands: the
        easiest way to follow this blog is via RSS.
      </p>

      <section class="box">
        <p>
          <b>TL;DR</b> RSS is an internet protocol for syndicating creative work
          to audiences. Copy-pasting the link to this website into your reader
          should work. If not, you can try these links:
        </p>

        <ul>
          <.la href="/index.xml">Subscribe via RSS</.la>
          <.la href="/atom.xml">Subscribe via Atom</.la>
          <.la href="/feed.json">Subscribe via JSON</.la>
        </ul>
      </section>

      <p>
        <abbr title="Really Simple Syndication">RSS</abbr> is an ancient (but
        very useful!) internet protocol for syndicating creative work to
        audiences. In other words: it is a way to to easily subscribe to a
        website. It works like this: the site exposes a feed, which is a
        computer-readable overview of the site's contents. Your newsreader
        periodically checks these feeds and shows updates of all the sites that
        you follow in reverse-chronological order.
      </p>

      <p>
        Since the technology to make this work is called
        <abbr title="Really Simple Syndication">RSS</abbr>, we often call these
        feeds <dfn>RSS feeds</dfn>. There's another very similar format called
        Atom. Virtually all newsreaders work equally with both.
      </p>

      <h2>But why?</h2>

      <p>
        Oversimplified, an RSS feed is kinda like your Instagram feed, but
        rather than a computer algorithm feeding you an endless stream of
        <em>mildly entertaining mediocracy</em>, you choose whom to follow
        yourself. That means you are in control over your media consumption.
        There will be no ads and no doom-scrolling reels at 3am. It's a bit like
        a newsletter, but in a nice reading environment, instead of... y'know,
        email (ugh).
      </p>

      <p>
        But! if you email is (<em>somehow</em>??) your thing, you could also
        configure your RSS reader to deliver new posts to your inbox of course!
      </p>

      <h2>Cool, how do I get started?</h2>

      <p>
        To subscribe to an RSS feed, you use a newsreader app. There's
        <a
          href="//en.wikipedia.org/wiki/Comparison_of_feed_aggregators"
          target="_blank">lots of choices</a>.
      </p>

      <p>
        RSS is a protocol, and is thus naturally free to use (like how
        <em>language</em> is free to use), but some apps provide additional
        features in a paid subscription. Most of these apps also allow you to
        sync your subscriptions between devices, but limit the amount of
        subscriptions you can have.
      </p>

      <ul>
        <li>
          <p>
            <a href="//inoreader.com" target="_blank">Inoreader</a>. Free up to
            150 subscriptions.<br />
            Offers iOS, iPadOS, and Android apps, and a web app.
          </p>
        </li>

        <li>
          <p>
            <a href="//newsblur.com" target="_blank">NewsBlur</a>. Free up to 64
            subscriptions.<br />
            Offers iOS, iPadOS and Android apps, and a web app.
          </p>
        </li>

        <li>
          <p>
            <a href="//netnewswire.com" target="_blank">NetNewsWire</a>. Offers
            iOS, iPadOS and MacOS apps. The apps themselves are entirely free
            and don't put limits on the amount of feeds. However, if you use an
            online service like Inoreader or NewsBlur to sync your
            subscriptions, their limits still apply.
          </p>
        </li>

        <li>
          <p>
            <a href="//theoldreader.com" target="_blank">The Old Reader</a>.
            Free up to 100 subscriptions.<br />
            Offers iOS and Android apps, and a web app. Contains ads.
          </p>
        </li>
      </ul>

      <h2>But how do I use RSS?</h2>

      <p>
        Most sites that offer an RSS will probably have a link saying "RSS/Atom"
        or an orage icon similar to this: {#include icons/rss.svg} somewhere on
        the page. If they do, you can subscribe to them.
      </p>

      <p>
        Subscribing is simple: you subscribe by entering the URL to their blog,
        website, channel, profile, <em>whatever</em> into your RSS reader app.
      </p>

      <p>
        Then, the app will periodically check the feed for new posts. When you
        feel like it, you open up the app, and they will be waiting for you in
        good old reverse-chronological order. Some apps also provide other
        filters for showing the content, but it's always under your control.
      </p>

      <h2>Where can I find feeds to subscribe to?</h2>

      <p>
        The best way to discover blogs to follow is by simply
        <a href="/blog/surf-dont-search">surfing the web</a>. Not with a search
        engine, but by following links from site to site. There's tons of
        interesting stuff out there. Often, interesting blogs have a blogroll: a
        list of other blogs that they like.
      </p>

      <p>Here are some starting points:</p>
      <ul>
        <li><a href="/blogroll">My blogroll</a></li>
        <li><a href="//ooh.directory" target="_blank">ooh.directory</a></li>
        <li><a href="//blogroll.org" target="_blank">blogroll.org</a></li>
      </ul>

      <p>
        In addition to most blogs, lots of other sites also offer RSS feeds. For
        example, every YouTube channel has an RSS feed (try it: simply enter the
        channel URL in your RSS reader!). And most news sites (like
        <a href="//nos.nl/feeds">NOS</a>) offer RSS feeds too, as do
        <a href="//rss.buienradar.nl/radar.php">weather forecasts</a>.
      </p>

      <p>
        And RSS is also the protocol underpinning virtually all modern
        podcasting apps, but that is a story for another day.
      </p>
    </main>

    <footer>
      <.footer />

      <blockquote cite="//youtube.com/watch?v=gd5uJ7Nlvvo">
        <a href="//inv.dupunkto.org/watch?v=gd5uJ7Nlvvo" target="_blank">
          You know Pike Matchbox?
        </a>
      </blockquote>
    </footer>
  </body>
</html>
