<%
templates =
  for path <- glob("*.html.{heex,eex}"),
      basename = Path.basename(path),
      basename not in ~w(atom.xml.eex index.xml.eex) do
    %{
      source: path,
      target: target(path, relative: true),
      lastmod: Git.lastmod(path),
      changefreq: Git.changefreq(path)
    }
  end

pages =
  for path <- glob("*.md.heex") do
    %{
      source: path,
      target: target(path, relative: true),
      lastmod: Git.lastmod(path),
      changefreq: Git.changefreq(path)
    }
  end

posts =
  for entry <- Blog.list_posts(),
      entry.rssonly == false do
    %{
      source: entry.source,
      target: entry.target,
      canonical: entry.canonical,
      lastmod: Git.lastmod(entry.source),
      changefreq: Git.changefreq(entry.source)
    }
  end

all_pages = Enum.sort_by(templates ++ pages ++ posts, &(&1.target))

%><?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<%= for page <- all_pages do %>  <url>
    <loc>https://<%= @host %><%= Map.get(page, :canonical, canonical(page.target)) %></loc>
    <lastmod><%= page.lastmod %></lastmod>
    <changefreq><%= page.changefreq %></changefreq>
  </url>
<% end %></urlset>
