<!DOCTYPE html>
<html lang="en">
  <head>
    <.head title="This website is volatile" {assigns} />
  </head>
  <body>
    <.nav {assigns} />

    <main>
      <p>
        This website (everything residing on "geheimesite.nl",
        excluding subdomains) is volatile. It can, and will, change.
        <a href="//www.w3.org/Provider/Style/URI">My URLs aren't cool</a>,
        sorry! Attempts to link to this site are futile.
      </p>

      <p>
        I'll also promise nothing regarding uptime.
        i'll need to occasionally run updates on my server, my isp can block me
        or move me behind a cgnat (happened twice already).     
      </p>

      <p>
        If you do want to link to something and be confident that the link won't
        die, please link to the appropriate page in
        <a href="/the-archives">The Archives</a>. I am committed to keeping the
        URL schemes of <a>classic.geheimesite.nl</a> and
        <a>blog.geheimesite.nl</a> and all RSS/Atom feeds stable.
      </p>
    </main>

    <footer>
      <.footer />
    </footer>
  </body>
</html>