<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
    {% render 'includes/head.html', 
      title: title, 
      path: path, 
      site: site,
      description: content
    %}
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ site.prefix }}/">
          ← 
          {% if language == "en" %}
            Back to the homepage
          {% elsif language == "nl" %}
            Terug naar de homepage
          {% endif %}
        </a>
      </nav>
    </header>

    <main class="h-entry">
      <h1 class="p-name" {% if hide_title %}hidden{% endif %}>
        {{ title | escape_once }}

        {% if subtitle %}
          <span class="subtitle">
            {{ subtitle | escape_once }}
          </span>
        {% endif %}
      </h1>
      
      <div class="content p-summary e-content">
        {{ content_rendered }}
      </div>

      {% if date %}
        <footer>
          <p>
            {% if language == "en" %}
              Posted on
            {% elsif language == "nl" %}
              Gepubliceerd op
            {% endif %}

            <a class="u-url" href="{{ site.baseurl }}{{ path }}">
              <time class="dt-published" datetime="{{ date | date: '%Y-%m-%d' }}">
                {{ date | date: "%b %d, %Y" }}
              </time>
            </a>
          </p>
          
          <p class="reply-by-email">
            <a href="mailto:hello@geheimesite.nl?subject=RE:%20“{{ title | url_encode }}”">
              {% if language == "en" %}
                Reply by email
              {% elsif language == "nl" %}
                Reageren via email
              {% endif %}
            </a>
          </p>
        </footer>
      {% endif %}
    </main>

    {% render 'includes/footer.html', site: site %}
  </body>
</html>
