<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <link rel="canonical" href="https://roblog.nl{{ path }}">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header>
      <nav>
	<a href="/"> ← Back to the homepage</a>
      </nav>
    </header>

    <main class="h-entry">
      <h1>>{{ title }}</h1>

      <div class="e-content p-summary">
	{{ content_rendered }}
      </div>

      <footer>
	<p>
              Posted on

            <a class="u-url" href="//roblog.nl{{ path }}">
              <time class="dt-published" datetime="{{ date | date: '%Y-%m-%d' }}">
                {{ date | date: "%b %d, %Y" }}
              </time>
            </a>
          </p>
          
          <p class="reply-by-email">
            <a href="mailto:axcelott@roblog.nl?subject=RE:%20“{{ title | url_encode }}”">
              Reply by email
            </a>
          </p>

      </footer>
    </main>

    <footer>
      Made with ♡ in the Netherlands. Copying is an act of love. Please copy.
    </footer>
  </body>
</html>


