<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
   {% render 'includes/head.html', 
      title: title, 
      path: path, 
      site: site,
      description: site.description
    %} 
  </head>
  <body>
    <main class="homepage-grid">
      <h1>{{ title }}</h1>

      {% render "includes/menu.html", site: site, menu: menu %}

      {{ content_rendered }}

      {% assign posts = pages | where: "hide_from_index", null | where: "date" | sort: "date" | reverse %}
      {% assign pages = pages | where: "hide_from_index", null | where: "date", null %}

      {% if posts | first %}
        <table class="h-feed">
          <thead>
            <tr>
              <th class="p-name">
                Post<span hidden>s</span>
              </th>
              <th>Published</th>
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
              <tr class="h-entry">
                <td class="p-title">
                  <a class="u-url" href="{{ post.path }}">
                    {{ post.title | escape_once }}
                  </a>
                </td>
                <td>
                  <time class="dt-published" datetime="{{ post.date | date: '%Y-%m-%d' }}">
                    {{ post.date | date: "%b %d, %Y" }}
                  </time>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
  
      {% if pages | first %}
        <table class="h-feed">
          <thead>
            <tr>
              <th class="p-name">Other pages</th>
            </tr>
          </thead>
          <tbody>
            {% for page in pages %}
              <tr class="h-entry">
                <td class="p-title">
                  <a class="u-url" href="{{ page.path }}">
                    {{ page.title | escape_once }}
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </main>

    {% render 'includes/footer.html', site: site %}
  </body>
</html>
