<!DOCTYPE html>
<html lang={@language}>
  <head>
    <.head {assigns} />
  </head>
  <body>
    <.nav {assigns} />

    <main>
      <article class="h-entry">
        <hgroup>
          <h1 class="p-name">{@title}</h1>
          <p>
            <time class="dt-published" datetime={Date.to_iso8601(@date)}>
              {Calendar.strftime(@date, "%b %d, %Y")}
            </time>
          </p>
        </hgroup>

        <div class="p-summary e-content">
          {@inner_content}
        </div>

        <footer>
          <p class="reply-by-email">
            <a class="button" href={"/contact?subject=RE: #{@title}"}>Reply by email</a>
          </p>
        </footer>
      </article>
    </main>

    <footer class="page-footer">
      <.footer />
    </footer>
  </body>
</html>