@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Tiro+Devanagari+Hindi:ital@1&display=swap");

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

:root {
    --primary: rgb(131, 58, 180);

    --gradient: var(--primary);
    --gradient: linear-gradient(
        153deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 143, 29, 1) 50%,
        rgba(69, 240, 252, 1) 100%
    );

    --ratio: 1.2;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1em;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));

    --font-system: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
    --font-display: "Bungee", cursive;
    --font-serif: "Tiro Devanagari Hindi", serif;

    --background-image: url("/ckv/bg.jpg");

    --font-size-viewport: ((100vw - 600px) / (1000 - 600));
}

/* Global styles */

body {
    font-family: var(--font-system);

    --max-font-size: 20;
    --min-font-size: 18;

    font-size: calc(
        var(--min-font-size) * 1px +
            (var(--max-font-size) - var(--min-font-size)) *
            var(--font-size-viewport)
    );
}

* {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 50ms;
}

h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-family: var(--font-display);
}

h2,
h3,
h4 {
    font-family: var(--font-sans);
}

ul {
    padding-inline-start: 2em;
}

code {
    font-family: var(--font-mono);
    vertical-align: baseline;
    border-radius: 2px;
    padding: 0.1em 0.2em;
    text-transform: none;
}

a {
    color: currentColor;
    font-weight: bold;
    text-decoration-thickness: 2px;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    opacity: 0.8;
    transform: translateY(-0.175rem);
}

a:active {
    filter: saturate(2);
}

table th {
    text-align: start;
}

img,
picture,
video,
audio {
    max-width: 100%;
}

figure {
    margin: 0;
}

figcaption {
    text-align: center;
    color: #6e6e6e;
}

/* Layout */

body {
    display: flex;
    flex-direction: column;
    background: var(--gradient);
    background-attachment: fixed;
}

body > header {
    padding: var(--s1);
    margin-bottom: var(--s1);
}

body > header > p {
    margin: 0;
    color: white;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: var(--s5);
}

.content > :last-child {
    flex-grow: 1;
}

.content > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 60%;
}

body > footer {
    font-size: 70%;
    opacity: 0.6;
    text-align: center;
    padding: var(--s-4);
    color: white;
}

/* Atoms */

.box {
    box-sizing: content-box;
    max-inline-size: 60ch;
    padding-inline-start: var(--s1);
    padding-inline-end: var(--s1);
    flex-grow: 1;
    background: white;
    padding: var(--s1);
    overflow: hidden;
}

.center {
    margin-right: 25vw;
    margin-inline: auto;
}

@media (min-width: 400px) {
    .box {
        padding-block: var(--s3);
        padding-inline: var(--s5);
    }
}

.navlist ul,
.navbar ul {
    padding-block-start: var(--s-2);
    padding-inline-start: var(--s-1);
}

.navlist ul li,
.navbar ul li {
    list-style: none;
}

.navlist ul li a,
.navbar ul li a {
    color: currentColor;
    font-size: 150%;
    font-family: var(--font-serif);
    font-style: italic;
}

.navbar {
    color: white;
    max-width: fit-content;
}

.sidebar {
    max-width: fit-content;
}

.profile-picture {
    width: 10em;
    object-fit: cover;
    object-position: top;
}

/* Utilities */

.float\:right {
    float: right;
    margin-inline-start: var(--s1);
}

.square {
    aspect-ratio: 1/1;
}
