@import url("./ghme.css");

:root {
    --foreground: 19, 19, 36; /* #131324 */
    --background: 243, 248, 255; /* #f3f8ff */
    --primary: 255, 77, 121; /* #ff4d79  */

    --enable-code-blocks: ;

    --font-headings: var(--font-serif);
    --font-subheadings: var(--font-serif);
    --font-content: var(--font-sans);
    --font-display: var(--font-serif);

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
        serif;
}

.title {
    text-transform: capitalize;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: 243, 248, 255; /* #f3f8ff */
        --background: 19, 19, 36; /* #131324 */
    }
}

html {
    background-attachment: fixed;
    border-top: 10px solid rgb(var(--primary));
}

@media (prefers-color-scheme: dark) {
    html {
        background-image: linear-gradient(
            to top right,
            #111121,
            rgb(var(--background))
        );
    }
}

code,
code::before,
code::after {
    font-family: var(--font-code);
    font-weight: bold;
}

code::before,
code::after {
    content: "`";
}

pre code {
    font-weight: normal;
}

pre code::before,
pre code::after {
    display: none;
}

kbd {
    border: 1px solid gray;
    background: white;
    border-radius: 6px;
    padding: 2px 6px;
    font-family: var(--font-sans);
    color: #111121;
}
