@import url("./ghme.css");

:root {
    --foreground: 19, 19, 36; /* #131324 */
    --background: 243, 248, 255; /* #f3f8ff */
    --primary: 36, 185, 196; /* #24b9c4 */

    --enable-code-blocks: ;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: 245, 242, 233; /* #f5f2e9 */
        --background: 13, 43, 69; /* #0d2b45 */
        --primary: 255, 170, 94; /* #ffaa5e */
    }
}

html {
    background-attachment: fixed;
}

@media (prefers-color-scheme: dark) {
    html {
        background-image: linear-gradient(
            to top right,
            #111121,
            rgb(var(--background))
        );
    }
}
