@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fira+Sans+Condensed:ital,wght@1,200&family=Merriweather&family=Poppins:wght@600&display=swap");

:root {
    --black: 13, 43, 69; /* #0d2b45 */
    --white: 255, 236, 214; /* #ffecd6 */
    --vibrant: 255, 170, 94; /* #ffaa5e */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h-content {
        height: max-content;
    }

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .pixelart {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }

    .max-w-text {
        max-width: 650px;
    }

    .supplement {
        @apply brightness-125 dark:brightness-75 text-center italic text-sm;
    }
}

@layer base {
    /* General */

    hr {
        border-width: 0px;
        border-top: 1px solid gray;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    body {
        margin: 0;
    }

    /** Hyperlinks **/

    a:not(.button, .no-underline) {
        @apply hover:underline decoration-2 underline-offset-4;
    }

    a {
        @apply text-black dark:text-white underline decoration-vibrant hover:bg-vibrant hover:text-black;
    }

    /** Scrollbar hack **/
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }

    /** Smooth scrolling **/
    html {
        scroll-behavior: smooth;
    }

    /** Borderbox hack **/
    html {
        box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    /* Tables */

    table {
        @apply w-full border-collapse;
    }

    table,
    th,
    td {
        @apply p-2 border border-solid border-black/70 dark:border-white/70;
    }

    /* Typography */

    /** Base **/
    @media screen and (min-width: 900px) {
        html,
        .root {
            font-size: 21px;
            line-height: 33px;
        }
        body {
            font-size: 21px;
            line-height: 33px;
            @apply font-serif;
        }
        h1,
        .h1 {
            font-size: 42px;
            line-height: 66px;
            margin-top: 33px;
            margin-bottom: 33px;
            @apply font-poppins;
        }
        h2,
        .h2 {
            font-size: 30px;
            line-height: 33px;
            margin-top: 33px;
            margin-bottom: 33px;
            @apply font-fira;
        }
        h3,
        .h3 {
            font-size: 25px;
            line-height: 66px; /* 33px */
            margin-top: 33px;
            margin-bottom: 0;
        }
        h4,
        .h4 {
            font-size: 21px;
            line-height: 33px;
            margin-top: 33px;
            margin-bottom: 0;
        }
        h5,
        .h5 {
            font-size: 21px;
            line-height: 33px;
            margin-top: 33px;
            margin-bottom: 0;
        }
        p,
        ul,
        ol,
        pre,
        table,
        blockquote {
            margin-top: 0;
            margin-bottom: 33px;
        }
        ul ul,
        ol ol,
        ul ol,
        ol ul {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    /** Smaller screens **/
    @media screen and (max-width: 900px) {
        html,
        .root {
            font-size: 18px;
            line-height: 28px;
        }
        body {
            font-size: 18px;
            line-height: 28px;
            @apply font-serif;
        }
        h1,
        .h1 {
            font-size: 36px;
            line-height: 56px;
            margin-top: 28px;
            margin-bottom: 28px;
            @apply font-poppins;
        }
        h2,
        .h2 {
            font-size: 29px;
            line-height: 28px;
            margin-top: 28px;
            margin-bottom: 28px;
            @apply font-fira;
        }
        h3,
        .h3 {
            font-size: 23px;
            line-height: 56px;
            margin-top: 28px;
            margin-bottom: 0px;
        }
        h4,
        .h4 {
            font-size: 18px;
            line-height: 28px;
            margin-top: 28px;
            margin-bottom: 0px;
        }
        h5,
        .h5 {
            font-size: 18px;
            line-height: 28px;
            margin-top: 28px;
            margin-bottom: 0px;
        }
        p,
        ul,
        ol,
        pre,
        table,
        blockquote {
            margin-top: 0px;
            margin-bottom: 28px;
        }
        ul ul,
        ol ol,
        ul ol,
        ol ul {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    /** Let's make sure all's aligned **/
    hr,
    .hr {
        margin: -1px 0;
    }
    a,
    b,
    i,
    strong,
    em,
    small,
    code {
        line-height: 0;
    }
    sub,
    sup {
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sup {
        top: -0.5em;
    }
    sub {
        bottom: -0.25em;
    }

    figure {
        @apply my-10;
    }

    figcaption {
        @apply supplement;
    }

    blockquote {
        padding-left: 40px;
    }
}

@layer components {
    .input {
        @apply p-2 bg-white text-black dark:bg-transparent dark:text-white border-2 border-solid border-vibrant my-1 w-full block font-sans text-sm outline-none rounded-none shadow-none;
    }
    .button {
        @apply cursor-pointer bg-vibrant text-black hover:brightness-90 outline-none rounded-none shadow-none;
    }
    .md-mark {
        @apply before:content-[''] before:absolute before:inset-0 before:w-full before:h-full before:bg-md-mark before:bg-no-repeat before:bg-[length:30px] before:bg-[right_7px_bottom_7px] before:brightness-200 before:dark:filter-none;
    }
    .title {
        @apply lowercase font-display text-2xl my-6;
    }
    /* .bold {
        @apply w-[fit-content] bg-black text-white dark:bg-white dark:text-black;
    } */
    .bold {
        @apply font-mono font-bold text-lg text-vibrant;
    }

    .tagcloud {
        @apply list-none pl-0 flex flex-wrap justify-center items-center leading-10 pt-10;
    }

    .tagcloud a[data-weight="1"] {
        --size: 1;
    }
    .tagcloud a[data-weight="2"] {
        --size: 2;
    }
    .tagcloud a[data-weight="3"] {
        --size: 3;
    }
    .tagcloud a[data-weight="4"] {
        --size: 4;
    }
    .tagcloud a[data-weight="5"] {
        --size: 5;
    }
    .tagcloud a[data-weight="6"] {
        --size: 6;
    }
    .tagcloud a[data-weight="7"] {
        --size: 7;
    }
    .tagcloud a[data-weight="8"] {
        --size: 8;
    }
    .tagcloud a[data-weight="9"] {
        --size: 9;
    }

    .tagcloud a {
        --size: attr(data-weight number, 2);
        font-size: 1.5rem;
        margin: 0.125rem 0.25rem;
        font-size: calc(var(--size) * 0.25rem);
    }

    /* General */

    img {
        @apply select-none;
    }

    body {
        @apply text-black bg-white dark:bg-black dark:text-white flex flex-col dark:bg-gradient-to-tr dark:from-slate dark:to-black bg-fixed overflow-x-hidden selection:text-white selection:bg-black/40 dark:selection:text-black dark:selection:bg-white/40;
    }

    .pageheader {
        @apply text-center;
    }

    .page-content {
        @apply flex-grow w-full max-w-[1100px] mx-auto;
    }

    .pageheader nav {
        @apply w-full lg:flex justify-around p-2;
    }

    .pageheader nav ul {
        @apply flex flex-col lg:flex-row gap-4 p-0 items-center overflow-hidden lg:h-auto transition-[height] mb-0;
    }

    .pageheader nav ul li {
        @apply list-none lowercase;
    }

    .pageheader nav ul li a,
    .pageheader nav ul li.selected {
        @apply before:content-['<'] after:content-['/>'] no-underline;
    }

    .pageheader nav ul li.selected {
        @apply font-bold;
    }

    .page-footer {
        @apply p-5 text-center;
    }

    .h-card-header {
        @apply xl:grid grid-cols-2 gap-10;
        /* grid-template-columns: 50% 40%; */
    }

    .section,
    section > p,
    article > p,
    section > h1,
    article > h1,
    section > h2,
    article > h2,
    section > h3,
    article > h3,
    section > h4,
    article > h4,
    section > ul,
    article > ul,
    section > ol,
    article > ol,
    form,
    table, 
    blockquote,
    .footnotes {
        @apply px-2 sm:px-10 md:px-0 mx-auto md:max-w-md lg:max-w-text;
    }

    section > ul,
    article > ul,
    section > ol,
    article > ol {
        padding-left: revert;
    }

    figure img {
        @apply w-full;
    }

    .featured p,
    .featured h1,
    .featured h2,
    .h-feed p,
    .h-feed h1,
    .h-feed h2 {
        max-width: revert;
    }

    .skip-nav {
        @apply lowercase absolute top-0 transition-transform translate-y-[-120%] focus:translate-y-0 left-[7px] p-4 no-underline bg-black text-white dark:bg-white dark:text-black;
    }

    .project-grid {
        @apply p-0 m-0 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-rows-1 md:gap-2 lg:my-10 max-w-[revert];
    }

    .project-grid li {
        @apply flex flex-col justify-end list-none;
    }

    .project-grid li h3 {
        @apply text-sm mt-0 ml-2 md:ml-0;
    }

    .project-grid li a {
        @apply no-underline bg-transparent hover:bg-transparent hover:brightness-90;
    }

    .project-grid li a img {
        @apply w-full aspect-video object-cover my-2 mr-2;
    }

    .music-list {
        counter-reset: item;
        @apply list-none p-0 max-w-[740px] mx-auto;
    }

    .music-list li {
        @apply flex gap-2;
    }

    .music-list li h3.new::after {
        @apply text-vibrant text-sm rounded-md bg-vibrant/20 p-0.5 ml-1 align-middle;
        content: "new";
        line-height: 2px !important;
    }

    .music-list li .track-artist {
        @apply text-sm;
    }

    .music-list li div {
        @apply py-1.5;
    }

    .music-list li div * {
        @apply inline;
    }

    .music-list li::before {
        @apply text-5xl font-sans font-bold align-middle;
        content: counter(item);
        counter-increment: item;
    }

    pre code,
    code pre {
        @apply font-mono leading-[revert] text-[#adadad] bg-[#1b1c1d] block rounded-[5px] overflow-hidden p-[12px] w-full break-words;
    }

    .menu-button {
        @apply dark:invert h-5 w-5 inline lg:hidden cursor-pointer;
    }

    .title a {
        @apply no-underline bg-transparent hover:bg-transparent text-current hover:text-current hover:no-underline decoration-white dark:decoration-black;
    }

    .badges {
        @apply flex flex-wrap justify-center;
    }

    .badges img {
        @apply max-h-[30px] w-auto;
    }

    .hyperfeed {
        @apply md:flex flex-col items-center;
    }

    .hyperpost {
        @apply bg-[#cee3f8] dark:bg-[#456d95] p-5 my-3 border border-solid border-[#456d95] dark:border-[#173450] font-sans shadow-hyper-light dark:shadow-hyper-dark mx-0 md:min-w-[550px];
    }

    .hyperpost p {
        @apply m-0 text-[#193c5f] dark:text-[#cde6ff];
    }

    .hyperfeed .hyperpost:nth-child(10n) {
        @apply md:-ml-[18px];
    }
    .hyperfeed .hyperpost:nth-child(10n + 1) {
        @apply md:ml-[18px];
    }
    .hyperfeed .hyperpost:nth-child(10n + 2) {
        @apply md:-ml-[32px];
    }
    .hyperfeed .hyperpost:nth-child(10n + 3) {
        @apply md:-ml-[8px];
    }
    .hyperfeed .hyperpost:nth-child(10n + 4) {
        @apply md:-ml-[38px];
    }
    .hyperfeed .hyperpost:nth-child(10n + 5) {
        @apply md:ml-[28px];
    }
    .hyperfeed .hyperpost:nth-child(10n + 6) {
        @apply md:-ml-[18px];
    }
    .hyperfeed .hyperpost:nth-child(10n + 7) {
        @apply md:ml-[18px];
    }
    .hyperfeed .hyperpost:nth-child(10n + 8) {
        @apply md:-ml-[8px];
    }
    .hyperfeed .hyperpost:nth-child(10n + 9) {
        @apply md:ml-[32px];
    }

    .microblog_timeline {
        @apply max-w-[600px];
    }

    .microblog_post {
        @apply rounded-md p-2 dark:bg-slate/70 my-3;
        /* @apply rounded-md p-2 bg-vibrant/20 dark:bg-slate/70 shadow-md my-3; */
    }

    .microblog_post p {
        @apply mb-1;
    }

    .microblog_time {
        @apply text-[15px];
    }

    .featured {
        @apply mt-20;
    }

    .featured .h-entry {
        @apply mb-16;
    }

    .p-name a {
        color: inherit !important;
        background-color: inherit !important;
        text-decoration: none !important;
    }

    .footnotes {
        font-size: 70%;
        color: gray;
        border-top: 2px solid #ddd;
        padding: 5px;
        margin-top: 50px;
        padding-top: 20px;
    }
    
    .footnotes li {
        line-height: 22px;
        font-family: sans-serif;
    }
    
    .footnotes li:not(:last-child) {
        margin-bottom: 30px;
    }
}

/* Scale down?

html {
    transform: scale(0.9) translateY(-190px);
} */
