@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fira+Sans+Condensed:ital,wght@1,200&family=Merriweather&family=Poppins:wght@600&display=swap");

:root {
    --foreground: 19, 19, 36; /* #131324 */
    --background: 243, 248, 255; /* #f3f8ff */
    --primary: 36, 185, 196; /* #24b9c4 */

    --max-content-width: 1100px;
    --max-text-width: 650px;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: 245, 242, 233; /* #f5f2e9 */
        --background: 13, 43, 69; /* #0d2b45 */
        --primary: 255, 170, 94; /* #ffaa5e */
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h-content {
        height: max-content;
    }

    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .pixelart {
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }

    .supplement {
        @apply brightness-125 dark:brightness-75 text-center italic text-sm;
    }

    .p-small {
        @apply px-2 sm:px-10 md:px-0;
    }
}

@layer base {
    /* General */

    body {
        margin: 0;
    }

    html {
        box-sizing: border-box;
        scroll-behavior: smooth;

        /* Don't shift page content when sidebar appears */
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    hr {
        border-width: 0px;
        border-top: 1px solid gray;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /** Hyperlinks **/

    a:not(.button, .no-underline) {
        @apply hover:underline decoration-2 underline-offset-4;
    }

    a {
        @apply text-foreground underline decoration-primary hover:bg-primary hover:text-foreground dark:hover:text-background;
    }

    /* Tables */

    section > table,
    article > table,
    .table {
        @apply w-full border-collapse;
    }

    section > table,
    article > table,
    .table,
    section > table th,
    article > table th,
    .table th,
    section > table td,
    article > table td,
    .table td {
        @apply p-2 border border-solid border-foreground/70;
    }

    /* Code blocks */

    pre code,
    code pre {
        @apply font-mono leading-[revert] text-[#adadad] bg-[#1b1c1d] block rounded-[5px] overflow-hidden p-[12px] w-full break-words;
    }

    /* Typography */

    /** Base **/
    html,
    .root {
        font-size: clamp(1rem, 3vw, 1.256rem);
        line-height: 33px;
    }
    body {
        line-height: 1.57142857em;
        @apply font-serif;
    }
    h1,
    .h1 {
        font-size: 2em;
        line-height: 1.57142857em;
        margin-top: 0.78571429em;
        margin-bottom: 0.78571429em;
        @apply font-sans;
    }
    h2,
    .h2 {
        font-size: 1.57142857em;
        line-height: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        @apply font-fira;
    }
    h3,
    .h3 {
        font-size: 1.23809524em;
        line-height: 2.53846154em;
        margin-top: 1.26923077em;
        margin-bottom: 0em;
    }
    h4,
    .h4 {
        font-size: 1em;
        line-height: 1.57142857em;
        margin-top: 1.57142857em;
        margin-bottom: 0em;
    }
    h5,
    .h5 {
        font-size: 1em;
        line-height: 1.57142857em;
        margin-top: 1.57142857em;
        margin-bottom: 0em;
    }
    p,
    ul,
    ol,
    pre,
    table,
    blockquote,
    iframe,
    figure {
        margin-top: 0em;
        margin-bottom: 1.57142857em;
    }
    ul ul,
    ol ol,
    ul ol,
    ol ul {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    /** Let's make sure all's aligned **/
    hr,
    .hr {
        margin: -1px 0;
    }
    a,
    b,
    i,
    strong,
    em,
    small,
    code {
        line-height: 0;
    }
    sub,
    sup {
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sup {
        top: -0.5em;
    }
    sub {
        bottom: -0.25em;
    }

    figcaption {
        @apply supplement;
    }

    blockquote {
        padding-left: 40px;
    }
}

@layer components {
    /* Forms */
    .input {
        @apply p-2 bg-background text-foreground dark:bg-transparent border-2 border-solid border-primary my-1 w-full block font-sans text-sm outline-none rounded-none shadow-none;
    }
    .button {
        @apply cursor-pointer bg-primary text-foreground hover:brightness-90 outline-none rounded-none shadow-none;
    }
    .md-mark {
        @apply before:content-[''] before:absolute before:inset-0 before:w-full before:h-full before:bg-md-mark before:bg-no-repeat before:bg-[length:30px] before:bg-[right_7px_bottom_7px] before:brightness-200 before:dark:filter-none;
    }

    /* Text */
    .title {
        @apply lowercase font-display text-2xl my-6;
    }
    .bold {
        @apply font-mono font-bold text-lg text-primary;
    }
    .skip-nav {
        @apply lowercase absolute top-0 transition-transform translate-y-[-120%] focus:translate-y-0 left-[7px] p-4 no-underline bg-foreground text-background outline-none;
    }
    .menu-button {
        @apply dark:invert h-5 w-5 inline lg:hidden cursor-pointer;
    }

    /* General */
    img {
        @apply select-none;
    }

    body {
        @apply text-foreground bg-background flex flex-col dark:bg-gradient-to-tr dark:from-slate dark:to-background bg-fixed overflow-x-hidden selection:text-background selection:bg-foreground/40;
    }

    /* Page layout */
    .pageheader {
        @apply p-small flex flex-wrap flex-row justify-between items-center w-full mx-auto;
        max-width: var(--max-content-width);
    }

    .page-content {
        @apply flex-grow w-full mx-auto;
        max-width: var(--max-content-width);
    }

    .pageheader nav {
        @apply w-screen lg:w-auto lg:flex justify-around p-2;
    }

    .pageheader nav ul {
        @apply flex flex-col lg:flex-row gap-4 p-0 items-center overflow-hidden lg:h-auto transition-[height] mb-0;
    }

    .pageheader nav ul li {
        @apply list-none lowercase;
    }

    .pageheader nav ul li a,
    .pageheader nav ul li.selected {
        @apply before:content-['/'] no-underline;
    }

    .pageheader nav ul li.selected {
        @apply font-bold;
    }

    .page-footer {
        @apply p-5 text-center;
    }

    /* Page content */
    .section,
    section:not(.section) > p,
    article > p,
    section:not(.section) > h1,
    article > h1,
    section:not(.section) > h2,
    article > h2,
    section:not(.section) > h3,
    article > h3,
    section:not(.section) > h4,
    article > h4,
    section:not(.section) > ul,
    article > ul,
    section:not(.section) > ol,
    article > ol,
    form,
    section:not(.section) > table,
    article > table,
    blockquote,
    .footnotes {
        @apply p-small md:max-w-md mx-auto;
        max-width: var(--max-text-width);
    }

    section:not(.section) > ul,
    section > ul,
    article > ul,
    section > ol,
    article > ol {
        padding-left: revert;
    }

    figure img {
        @apply w-full;
    }

    /* Blog */
    .h-feed {
        @apply mt-20;
    }

    .h-feed p,
    .h-feed h1,
    .h-feed h2 {
        max-width: revert;
    }

    .h-feed .h-entry {
        @apply mb-16;
    }

    .p-name a {
        color: inherit !important;
        background-color: inherit !important;
        text-decoration: none !important;
    }

    .footnotes {
        font-size: 70%;
        border-top: 1px solid rgb(208, 203, 188);
        @apply p-[5px] pt-[30px] mt-[90px] mb-[30px] text-[gray];
    }
    .footnotes li {
        @apply font-sans leading-[22px];
    }
    .footnotes li:not(:last-child) {
        @apply mb-[20px];
    }
    .footnotes p {
        @apply mb-0;
    }
    .footnotes hr {
        @apply hidden;
    }

    /* Projects page */

    .project-grid {
        @apply p-0 m-0 w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 grid-rows-1 md:gap-2 lg:my-10 max-w-[revert];
    }

    .project-grid li {
        @apply flex flex-col justify-end list-none;
    }

    .project-grid li h3 {
        @apply text-sm mt-0 ml-2 md:ml-0;
    }

    .project-grid li a {
        @apply no-underline bg-transparent hover:bg-transparent hover:brightness-90;
    }

    .project-grid li a img {
        @apply w-full aspect-video object-cover my-2 mr-2;
    }

    /* Homepage */

    .homepage-section {
        @apply px-0 md:px-10 xl:px-0;
    }

    .homepage-hero {
        @apply xl:grid grid-cols-2 gap-10;
        /* grid-template-columns: 50% 40%; */
    }

    .homepage-hero .h-card p,
    .homepage-hero .h-card h1 {
        @apply max-w-none;
    }

    .title a {
        @apply no-underline bg-transparent hover:bg-transparent text-current hover:text-current hover:no-underline decoration-background;
    }

    .badges {
        @apply flex flex-wrap justify-center;
    }

    .badges img {
        @apply max-h-[30px] w-auto;
    }
}
