@font-face {
    font-family: "Fira Sans Condensed";
    font-style: italic;
    font-weight: 200;
    src: local(""),
        url("../fonts/fira-sans-condensed-v10-latin-200italic.woff2")
            format("woff2"),
        url("../fonts/fira-sans-condensed-v10-latin-200italic.woff");
    font-display: swap;
}

@font-face {
    font-family: "Bungee Shade";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/bungee-shade-v11-latin-regular.woff2") format("woff2"),
        url("../fonts/bungee-shade-v11-latin-regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/merriweather-v30-latin-regular.woff2") format("woff2"),
        url("../fonts/merriweather-v30-latin-regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("../fonts/poppins-v20-latin-600.woff2") format("woff2"),
        url("../fonts/poppins-v20-latin-600.woff") format("woff");
    font-display: swap;
}
