<!-- Hidden metadata for IndieWeb -->
<div class="hidden" hidden>
    <p class="u-note">
        TLDR; I'm a webdesigner, programmer, and nerd living in the Netherlands.
        I'm 15 years old and I currently work at Qdentity.
    </p>
    <p>
        More about me: people sometimes call me
        <span class="u-nickname">Robijntje</span> and I live in the
        <span class="p-region">Netherlands</span>. I currently work at
        <span class="p-org">Qdentity</span> as
        <span class="p-job-title">Junior Developer</span>. You can find me and
        my projects at
        <a href="https://geheimesite.nl/" rel="me" class="u-url"
            >geheimesite.nl</a
        >. If you need to reach me you can contact me at
        <span class="u-email">hello@geheimesite.nl</span>.
    </p>
</div>
