<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ .Page.Title }} — geheimesite.nl | {{ .Site.Title }}</title>

    <link rel="canonical" href='{{ replace .Permalink ".html" "" }}' />

    {{ $css := resources.Get "css/main.css" | resources.Minify |
    resources.Fingerprint }}
    <link
        rel="stylesheet"
        href="/assets{{ $css.RelPermalink }}"
        integrity="{{ $css.Data.Integrity }}"
        title="default" />

    {{ $js := resources.Get "js/menu.js" | resources.Minify |
    resources.Fingerprint }}
    <script
        defer
        type="text/javascript"
        src="/assets{{ $js.RelPermalink }}"
        integrity="{{ $js.Data.Integrity }}"></script>

    {{ with .Page.Params.hideFromGoogle }}
        <!-- Prevent search engines from indexing -->
        <meta name="robots" content="noindex" />
    {{ end }}

    {{ if .IsTranslated }} 
        {{ range .Translations }}
            <link
                rel="alternate"
                hreflang="{{ .Language.Lang }}"
                href='{{ replace .Permalink ".html" "" }}'
                title="{{ .Language.LanguageName }}" />
        {{ end }} 
    {{ end }}
</head>
