<!DOCTYPE html>
<html lang="{{ language }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Google, please don't mess with my lovingly handcrafted HTML -->
    <meta name="googlebot" content="notranslate">
    <meta name="generator" content="{{ eleventy.generator }}">
    
    <title>{{ title }} &mdash; geheimesite.nl</title>

    <link rel="canonical" href="{{ canonical }}{{ page.url }}">
    <link rel="license" href="//creativecommons.org/publicdomain/zero/1.0/">
    <link rel="webmention" href="//api.geheimesite.nl/webmentions" />
    <link rel="pingback" href="//api.geheimesite.nl/pingback" />

    <!-- RSS, because it's amazing -->
    <link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ blog.title }} (RSS)">
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{ blog.title }} (Atom)">
    <link rel="alternate" href="/feed.json" type="application/feed+json" title="{{ blog.title }} (JSON)">

    {% if stylesheet %}
      <link rel="stylesheet" href="{{ stylesheet | safe }}" type="text/css">
    {% endif %}

    {% if favicon %}
      <link
        rel="shortcut icon"
        type="image/svg+xml"
        href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20100%20100'%3E%3Ctext%20y='.9em'%20font-size='90'%3E{{ favicon | safe }}%3C/text%3E%3C/svg%3E" />
    {% endif %}

    {% if head %}{{ head | safe }}{% endif %}
  </head>
  <body>
    {{ content | mdash | safe }}
  </body>
</html>