---
layout: root.njk
---

<header>
  <nav>
    <a href="/">Start</a>
    <a href="/projects">Projects</a>
    <a href="/books">Books</a>
    <a href="//blog.geheimesite.nl">Blog</a>
    <!--<a href="//school.geheimesite.nl">School</a>-->
    <a href="//git.dupunkto.org">Gitz</a>
  </nav>
</header>

<main>
  {{ content | safe }}
</main>

<footer>
  ♡ {{ year }}. All wrongs deserved.<br>
  <small>
  Copying is an act of love. Love is not subject to law. Please copy and share.
  </small>
  &mdash; <a href="//creativecommons.org/publicdomain/zero/1.0/">CC0</a>
</footer>

<script>
    let pageWeight = document.body.innerHTML.length / 1000;
    document.querySelector(
        ".page-size"
    ).innerText = `${pageWeight.toFixed(1)} kB`;
</script>