---
layout: root.njk
---

<style>
:root {
  --font-sans: Inter, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

html {
  color-scheme: light;
  font-family: var(--font-sans);
  font-size: 1.2rem;
  line-height: 1.5;
  background: #FDFDFE;
  color: #1e293b;
  min-height: 100%;
  border-left: 8px solid  #020617;
  border-top: 12px solid #f43f5e;
  border-right: 9px solid #f43f5e;
}

nav {
  display: flex;
  gap: 1.7em;
  margin: 1em;
  justify-content: flex-end;
  
  a {
    font-size: 1.3em;
    text-transform: lowercase;
    color: currentColor;
  }
}

body {
  max-width: 1000px;
  margin: 0 10vw;
  padding: 10px;
}

main {
  padding: 2em;
  min-height: 78vh;
}

a {
  color: currentColor;
  &:hover {opacity: 0.8}
}

footer {
  margin: 2em;
  margin-bottom: 1em;
}

header, footer {
  a { color: currentColor }
}

main > h1:first-of-type {
  margin-top: 0;
}

.container {  
  max-width: 670px;
  margin-left: 3em;
}

h1, .h1 {
  font-size: 2.05263158em;
  line-height: 1.48717949em;
  margin-top: 0.74358974em;
  margin-bottom: 0.74358974em;
}
h2, .h2 {
  font-size: 1.63157895em;
  line-height: 1.87096774em;
  margin-top: 0.93548387em;
  margin-bottom: 0.93548387em;
}
h3, .h3 {
  font-size: 1.26315789em;
  line-height: 2.41666666em;
  margin-top: 1.20833333em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-size: 1em;
  line-height: 1.52631579em;
  margin-top: 1.52631579em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-size: 1em;
  line-height: 1.52631579em;
  margin-top: 1.52631579em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 0em;
  margin-bottom: 1.52631579em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

.grid, .books {
  display: grid;
  padding: 0;
  gap: 0.5em;
  margin-top: 3.05263158em;
  margin-bottom: 1.52631579em;

  li { list-style: none }
  a { text-decoration: none }

  h3 {
    margin: 0;
    font-size: .875em;
    line-height: 1.25em;
  }

  img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 0.5em 0;
  }
}

.books {
  margin-top: 0;
  row-gap: 1.5em;

  li {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: flex-end;
  }

  h3, span {
    font-size: .75em;
    line-height: 1rem;
  }
  
  span { opacity: .7 }
  img { aspect-ratio: unset }
}

@media (min-width: 600px) {
  .books { grid-template-columns: repeat(2, 1fr) }
}

@media (min-width: 800px) {
  .grid { grid-template-columns: repeat(2, 1fr) }
  .books { grid-template-columns: repeat(3, 1fr) }
}

@media (min-width: 1200px) {
  .grid { grid-template-columns: repeat(3, 1fr) }
  .books { grid-template-columns: repeat(4, 1fr) }
}

@media (min-width: 1480px) {
  .grid, .books { width: 125% }
  .grid { grid-template-columns: repeat(4, 1fr) }
  .books { grid-template-columns: repeat(6, 1fr) }
}
</style>

<header>
  <nav>
    <a href="/">Start</a>
    <a href="/projects">Projects</a>
    <a href="/books">Books</a>
    <a href="//blog.geheimesite.nl">Blog</a>
    <!--<a href="//school.geheimesite.nl">School</a>-->
    <a href="//git.dupunkto.org">Gitz</a>
  </nav>
</header>

<main>
  {{ content | safe }}
</main>

<footer>
  ♡ {{ year }}. All wrongs deserved.<br>
  <small>
  Copying is an act of love. Love is not subject to law. Please copy and share.
  </small>
  &mdash; <a href="//creativecommons.org/publicdomain/zero/1.0/">CC0</a>
</footer>

<script>
    let pageWeight = document.body.innerHTML.length / 1000;
    document.querySelector(
        ".page-size"
    ).innerText = `${pageWeight.toFixed(1)} kB`;
</script>