<header class="pageheader">
    <p class="title"><a href="/">{{ .Site.Title }}</a></p>

    <img
        src="/assets/images/menu.svg"
        alt="menu button"
        class="menu-button"
        hidden />

    <nav>
        <ul class="menu">
            {{- $currentPage := . -}} {{ range .Site.Menus.main }} {{ if
            $currentPage.IsMenuCurrent "main" . }}
            <li class="selected">{{ .Name }}</li>
            {{ else }}
            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
            {{ end }} {{ end }}
        </ul>
    </nav>
</header>
