AuthUserFile /home/robinb/domains/geheimesite.nl/private_html/beveiligde_bestanden/.htpasswd
AuthGroupFile /dev/null
AuthName "Beveiligde pagina"
AuthType Basic
<Limit GET POST>
require valid-user
</Limit>