RewriteEngine On
RewriteBase /

# Set default charset and language
AddDefaultCharset UTF-8
DefaultLanguage nl-NL

AddType text/xml .opml 
AddHandler text/xml .opml

# Preserve bandwidth for PHP enabled servers
<ifmodule mod_php4.c>
	php_value zlib.output_compression 16386
</ifmodule>

# Force https
RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Add expire headers (prevents hotlinking)
<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|swf)$">
	Header set Expires "access plus 1 day"
</FilesMatch>

# File cache for static assets and images
<FilesMatch "\.(ico|jpg|jpeg|png|gif|svg|css|js|woff|woff2)$">
	Header set Cache-Control "max-age=31536000"
</FilesMatch>

# Cache css and javascript files for one week
<FilesMatch ".(js|css|pdf|txt)$">
	Header set Cache-Control "max-age=604800"
</FilesMatch>

# Cache html and php files for one day
<FilesMatch "\.(html|php)$">
	Header set Cache-Control "max-age=43200"
</FilesMatch>

# Explicitly disable caching for scripts and other dynamic files
<FilesMatch "\.(pl|cgi|spl|scgi|fcgi)$">
	Header unset Cache-Control
</FilesMatch>

# Compress plain text file
<FilesMatch "\.(js|css|html|htm|php|xml|opml)$">
	SetOutputFilter DEFLATE
</FilesMatch>

# Redirects
Redirect /framboy /projects/framboy
Redirect /feed https://blog.geheimesite.nl/index.xml 
Redirect /neolog https://micro.geheimesite.nl
Redirect /github https://github.com/RobinBoers
Redirect /school https://docs.geheimesite.nl/school
Redirect /subscriptions /subscriptions.opml
Redirect /ckv /ckvrobinboers4a2

# Fix old assets directory URIs
Redirect 301 /css/ /assets/css
Redirect 301 /js/ /assets/js
Redirect 301 /images/ /assets/images/

# Fix old library directory URIs
Redirect 301 /library/website/version/ /website/v/
Redirect 301 /library/projects/package/ /projects/
Redirect 301 /library/projects/ /projects/
Redirect 301 /library/website/overview.php /website/overview

# Remove .php and .html from filenames
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.html -f 
RewriteRule ^(.*)$ $1.html

# GZip compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css  application/x-javascript
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

# Disable the server signature
ServerSignature Off

# limit file uploads to 100K
LimitRequestBody 102400

# Follow symbolic links
Options +FollowSymLinks
