RewriteEngine On
RewriteBase /

# Set default charset and language
AddDefaultCharset UTF-8
DefaultLanguage nl-NL

AddType text/xml .opml 
AddHandler text/xml .opml

# Preserve bandwidth for PHP enabled servers
<ifmodule mod_php4.c>
	php_value zlib.output_compression 16386
</ifmodule>

# Google, FLoC off! (and other privacy headers)
Header set Permissions-Policy "interest-cohort=()"
Header set Referrer-Policy "no-referrer"
Header set X-Content-Type-Options "nosniff"

# Force https (disabled, see 1mb.club)
#RewriteCond %{HTTPS} off 
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Add expire headers (prevents hotlinking)
<FilesMatch "\.(ico|jpg|jpeg|png|webp|gif|js|css|swf)$">
	Header set Expires "access plus 1 day"
</FilesMatch>

# File cache for static assets and images
<FilesMatch "\.(ico|jpg|jpeg|png|webp|gif|svg|woff|woff2)$">
	Header set Cache-Control "max-age=31536000"
</FilesMatch>

# Cache css and javascript files for one week
<FilesMatch ".(js|css|pdf|txt)$">
	Header set Cache-Control "max-age=604800"
</FilesMatch>

# Cache html and php files for one day
<FilesMatch "\.(html|php)$">
	Header set Cache-Control "max-age=43200"
</FilesMatch>

# Explicitly disable caching for scripts and other dynamic files
<FilesMatch "\.(pl|cgi|spl|scgi|fcgi)$">
	Header unset Cache-Control
</FilesMatch>

# Shortcuts
Redirect /framboy /projects/framboy
Redirect /subscriptions /subscriptions.opml
Redirect /ckv /ckvrobinboers4a2
Redirect /more /meer
# This one ^ is needed to make my non-JS menu work

Redirect /blog/index.html https://blog.geheimesite.nl
# The index.html here ^ is needed because otherwise
# the /blog/stats route wouldn't work anymore.

Redirect /en/blog https://blog.geheimesite.nl/en
Redirect /feed https://blog.geheimesite.nl/index.xml 

Redirect /neolog https://micro.geheimesite.nl
Redirect /timeline https://micro.geheimesite.nl
Redirect /tijdlijn https://micro.geheimesite.nl
Redirect /github https://github.com/RobinBoers
Redirect /school https://school.geheimesite.nl

# Cool URLs don't change. Ugh.

# Redirect OPML files to API endpoint
Redirect 301 /subscriptions.opml https://api.geheimesite.nl/resources/feeds/subscriptions
Redirect 301 /videos.opml https://api.geheimesite.nl/resources/feeds/videos

# Redirect old assets directory URIs
Redirect 301 /css/ /assets/css/
Redirect 301 /js/ /assets/js/
Redirect 301 /images/ /assets/images/
Redirect 301 /logo2.png /assets/images/logo2.png

# Redirect old library directory URIs
Redirect 301 /library/website/version/ /website/v/
Redirect 301 /library/projects/package/ /projects/
Redirect 301 /library/projects/ /projects/
Redirect 301 /library/website/overview.php /website/overview

# Redirect old pages
Redirect 301 /how-it-was-made /en/colophon
Redirect 301 /colophon /en/colophon
Redirect 301 /follow /en/follow
Redirect 301 /hello /contact
Redirect 301 /me /en/profile

# Remove .php and .html from filenames
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.html -f 
RewriteRule ^(.*)$ $1.html

# GZip compression
<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css|html|htm|php|xml|opml)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
	
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

# Disable the server signature
ServerSignature Off

# Limit file uploads to 100K
LimitRequestBody 102400

# Follow symbolic links
Options +FollowSymLinks
