RewriteEngine On
RewriteBase /

# Fuck the www prefix!
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ %{REQUEST_SCHEME}://roblog.nl%{REQUEST_URI} [R=307]

# Force https (disabled, see 1mb.club)
#RewriteCond %{HTTPS} off 
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# .well-known URIs
Redirect 302 /.well-known/security.txt /security.txt
Redirect 302 /.well-known/carddav https://contacts.dupunkto.org/admin/axcelott/d04048ab-e2e6-f5bd-1965-9794fe86a398/
Redirect 302 /.well-known/caldav https://contacts.dupunkto.org/admin/axcelott/d04048ab-e2e6-f5bd-1965-9794fe86a398/

# Set default charset and language
AddDefaultCharset UTF-8
DefaultLanguage en-US

# Limit file uploads to 100K
LimitRequestBody 102400

# Make OPML & RSS files display in-browser
AddType text/xml .opml
AddHandler text/xml .opml

# Preserve bandwidth for PHP enabled servers
<ifmodule mod_php4.c>
	php_value zlib.output_compression 16386
</ifmodule>

# Google, FLoC off! (and other privacy headers)
Header set Referrer-Policy "no-referrer"
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "deny"

# HSTS: Enable automatic HTTPS redirects for a year, including subdomains
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"

# CSP
# Don't allow anything by default, but enable
# images & stylesheets from same origin.
#
# I also do not allow other pages to embed my pages.
#
# `upgrade-insecure-requests` will auto enable HTTPS for
# compliant browsers, while still serving over HTTP for older browsers
# (like Lynx).
#
# `sandbox` disables A LOT of things. I explicitly re-enable the
# things I need:
# - target=_blank (categorized popups)
# - Downloads
# - `allow-same-origin` makes some browser extensions work again.

Header set Content-Security-Policy "default-src 'none'; img-src 'self'; media-src 'self'; style-src 'self' 'unsafe-inline'; frame-ancestors 'none'; upgrade-insecure-requests; sandbox allow-popups allow-downloads allow-same-origin;"

# Don't disclose server
ServerSignature Off

# Pretty URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

# Follow symbolic links
Options +FollowSymLinks

# GZip compression
SetOutputFilter DEFLATE

BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

# File cache for static assets and images
<FilesMatch "\.(ico|jpg|jpeg|png|webp|gif|svg|woff|woff2)$">
	Header set Cache-Control "max-age=31536000"
</FilesMatch>

# Cache CSS and JavaScript files for one week
<FilesMatch ".(js|css)$">
	Header set Cache-Control "max-age=604800"
</FilesMatch>

# Cache content for a day
<FilesMatch "\.(html|pdf|txt)$">
	Header set Cache-Control "max-age=43200"
</FilesMatch>

# Explicitly disable caching for scripts and other dynamic files
<FilesMatch "\.(pl|cgi|spl|scgi|fcgi|php)$">
	Header unset Cache-Control
</FilesMatch>
