RewriteEngine On

AddCharset UTF-8 .html
AddCharset UTF-8 .php

# Force https
RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<FilesMatch "\.(ico|jpg|jpeg|png|gif|js|css|swf)$">
	Header set Expires "access plus 1 day"
</FilesMatch>

<FilesMatch "\.(js|css|html|htm|php|xml)$">
	SetOutputFilter DEFLATE
</FilesMatch>

# Redirects
Redirect /framboy /projects/framboy.php
Redirect /feed https://blog.geheimesite.nl/index.xml 

# Fix old assets directory URIs
# Redirect 301 /css/ /assets/css
# Redirect 301 /js/ /assets/js
Redirect 301 /images/ /assets/images/

# Fix old library directory URIs
# Redirect 301 /library/website/version/ /website/v/
# Redirect 301 /library/projects/package/ /projects/
# Redirect 301 /library/projects/ /projects/
# Redirect 301 /library/website/overview.php /website/overview

# Remove .php from filenames
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

# GZip compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css  application/x-javascript
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

# Disable the server signature
ServerSignature Off

# limit file uploads to 100K
LimitRequestBody 102400