:root {
  color-scheme: light dark;
}

body,
html {
  box-sizing: border-box;
  height: fit-content;
  scrollbar-gutter: stable;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  line-height: 1.5;
  font-family: serif;
}

* {
  border-color: light-dark(#ccc, #444);
  text-decoration-color: light-dark(#aaa, #888);
}

a {
  color: currentcolor;
}

a:hover {
  opacity: 0.8;
}

/* Partially stolen from @csswizardry on Twitter (ahem, I meant X ofc) */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75em;
  user-select: none;
  -webkit-user-select: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none !important;
}

h1 {
  font-size: 1.8em;
}

h2 {
  border-bottom: 1px solid;
  border-color: inherit;
  padding-bottom: 5px;
}

h4,
h5,
h6 {
  margin-bottom: 0;
}

h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}

hgroup h1 {
  margin-bottom: 0;
}

hgroup p {
  margin-top: 0;
}

hgroup {
  margin-bottom: 1em;
}

pre {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre::-webkit-scrollbar {
  display: none;
}

pre:has(code:not([class="language-mermaid"])) {
  background: black;
  color: white;
  padding: 0.5em;
  border-radius: 8px;
}

kbd {
  border: 1px solid gray;
  background: white;
  border-radius: 6px;
  padding: 2px 6px;
  font-family: sans-serif;
  color: #111121;
}

table {
  border-collapse: collapse;
  max-width: 100%;
  width: 100%;
}

td,
th {
  padding: 0.2em;
  text-align: left;
}

tr {
  border-bottom: 1px solid;
  border-color: inherit;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 1em;
}

figure img {
  border: 1px solid;
  border-color: inherit;
}

figcaption,
table caption,
blockquote {
  color: light-dark(#666, #999);
}

blockquote {
  font-style: italic;
  border-left: 2px solid;
  padding-left: 1.2em;
  margin: auto 0;
  border-color: inherit;
}

ins {
  text-decoration: none;
  font-weight: 600;
}

code {
  font-size: 0.8em;
}
