---
layout: off
---

<style>
  html {
    text-align: center;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  h1 {
    margin: 0;
  }
  small {
    font-size: 0.5em;
  }
</style>
<article>
  <h1>
    Nee<sup><small>*</small></sup>
  </h1>
  <small><sup>*</sup>99,73% correct</small>
</article>