@import url("https://cdn.geheimesite.nl/pinkz.css");

html {
  font-size: clamp(0.8em, 3vw, 1.2em);
}

body {
  max-width: 1000px;
  padding: 10px;
}

@media (min-width: 800px) {
  body { margin: 0 auto }
}

@media (min-width: 1200px) {
  body { margin-left: 10vw }
}

nav {
  position: relative;
  display: flex;
  gap: clamp(0.4em, 3vw, 1.7em);
  margin: 1em;
  justify-content: flex-end;
  
  a {
    font-size: 1.3em;
    text-transform: lowercase;
    color: currentColor;
    white-space: nowrap;

    svg {
      fill: currentColor;
      width: 0.75em;
      height: 0.75em;
      margin-left: 0.2em;
      vertical-align: middle;
    }
  }

  aside.active {
    position: absolute;
    right: -2.5rem;
    top: 2.4em;
    z-index: 50;
    height: max-content;
    background-color: light-dark(#eee, #242424);
    padding: 1em;
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
  }
}

main {
  padding: 2em;
}

@media (max-width: 500px) {
  main {
    padding-left: 3px;
    padding-right: 3px;
  }
}

header, footer {
  a { color: currentColor }
}

main > h1:first-of-type {
  margin-top: 0;
}

body > footer {
  margin: 2em;
  margin-bottom: 1em;
  
  & > p {
    text-align: center;
    margin: 3em 0;
  }
}

body > footer small {
  display: block;
  opacity: 0.8;
  max-width: 600px;
  font-size: 0.8em;

  &::before {
    content: "—"
  }

  p { 
    position: relative;
    margin: 0.6em 0;
  }

  svg {
    position: absolute;
    top: 0.3em;
    left: -1.3em;
  }
}

.placeholder {
  font-size: 0.8em;
  opacity: 0.8;
  text-align: center;
  font-style: italic;
}

.grid, .books, .music {
  display: grid;
  padding: 0;
  gap: 0.5em;
  margin-top: 3.05263158em;
  margin-bottom: 1.52631579em;

  li { list-style: none }
  a { text-decoration: none }
  a:hover { opacity: 1 }

  h3 {
    margin: 0;
    font-size: .875em;
    line-height: 1.25em;
  }

  img {
    &:hover { filter: brightness(.9) }

    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin: 0.5em 0;
  }
}

.books, .music {
  margin-top: 0;
  row-gap: 1.5em;

  li {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    justify-content: flex-end;
  }

  h3, span {
    font-size: .75em;
    line-height: 1rem;
  }
  
  span { opacity: .7 }
  img { aspect-ratio: unset }
}

.music {
  row-gap: 3.5em;
  margin-bottom: 4.5em;
  li { position:  relative }

  .medium {
    opacity: 1;
    background: #e11d48;
    color: white;
    padding: 0.2em;
    position: absolute;
    z-index: 99999;
    bottom: 0.75em;
    right: 0.5em;
  }
}

@media (min-width: 600px) {
  .books, .music { grid-template-columns: repeat(2, 1fr) }
}

@media (min-width: 800px) {
  .grid { grid-template-columns: repeat(2, 1fr) }
  .books, .music { grid-template-columns: repeat(3, 1fr) }
}

@media (min-width: 1200px) {
  .grid { grid-template-columns: repeat(3, 1fr) }
  .books, .music { grid-template-columns: repeat(4, 1fr) }
}

@media (min-width: 1480px) {
  .grid, .books, .music { width: 125% }
  .grid { grid-template-columns: repeat(4, 1fr) }
  .books, .music { grid-template-columns: repeat(6, 1fr) }
}

/* Reusable components */

button,
.button {
  background: #f43f5e;
  text-decoration: none;
  padding:.5em 1em;
  color: #ffffff;
  border: none;
  &:hover { opacity: 0.9 }
  &:active { background: #be123c }
}

.inline-button {
  background: light-dark(#fff1f2, #e11d48);
  &:hover { opacity: 1 }
  text-decoration: none;
  color: light-dark(#be123c, #fff1f2);
  border: 1px solid light-dark(#fecdd3, #9f1239);
  padding: 0.3em 0.95em;
  border-radius: 4px;
  font-size: 0.7em;
  margin-bottom: 0.8em;
  &:hover { background: light-dark(#ffe4e6, #be123c) }
  &:active { background: light-dark(#fecdd3, #9f1239) }
}

.shy-button {
  background: light-dark(#eee, #242424);
  text-decoration: none;
  padding:.5em 1em;
  color: currentColor;
  border: none;
  &:hover { background: light-dark(#f3f3f3, #323232) }
  &:active { background: #be123c; color: white; }
}

.box {
  background: light-dark(#f1f5f9, #0e121b);
  padding: 2em;
  margin: 0.75em 0;

  & > :first-child { margin-top: 0 }
  & > :last-child { margin-bottom: 0 }
}

/* Blog posts */

article {
  max-width: 777px;

  hgroup h1 {
    line-height: 1.2;
    margin-bottom: 0.3em;
  }

  .rss-only {
    background: #f1f5f9;
    padding: 0.75em;
    width: 100%;
    margin: 2em 0;
  }

  .reply-by-email {
    margin-top: 4em;
    margin-bottom: 2em;
    text-align: center;
  }

  .please-copy {
    font-size: 0.9em;
    opacity: 0.8;
    text-align: center;
  }
}

@media (min-width: 900px) {
  /* When updating, don't forget the rule in blog.md too */
  .article { margin-left: 3em }
}

/* Footnotes */

.footnotes-sep {
  display: none;
}

.footnotes {
  margin-top: 6em;
  font-size: 0.8em;
  opacity: 0.8;
}

/* Forms */

textarea {
  width: 100%;
}

/* Tables */

table, thead, tbody, tr, td, th {
  border-color:light-dark(#ccc,#444)
}

/* Eleventy icon coloring */
.eleventy svg path[fill="white"] {
  fill: light-dark(white, black);
}