---
title: More
---

<h1>{{ title }}</h1>

{% container %}
  <ul>
    {% for path in more_menu %}
      {% for page in collections.all %}
        {% if page.fileSlug == path %}
          <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
{% endcontainer %}
