---
title: More
---

{% container %}
  <h1>{{ title }}</h1>

  {% set exclude = ["/", "/projects", "/books", "/sitemap", "/invisible-prisons", "/nepnieuws", "/stemrecht", "/morality", "/cryptobros", "/stability", "/buttons"] %}

  <ul>
    <li><a href="//git.dupunkto.org">Gitz</a></li>
    <li><a href="//school.geheimesite.nl">School</a></li>
    {% for page in collections.all %}
      {% if page.url not in exclude and page not in collections.blog and page.data.title %}
        <li><a href="{{ page.url }}">{{ page.data.title | default(page.fileSlug) }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endcontainer %}
