@import url("https://cdn.geheimesite.nl/reset.css");

html {
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 1rem;
  color-scheme: light dark;
}

body {
  margin: 10px;
  border-radius: 7px;
  padding: 1em;
  max-width: 680px;
  margin: 10px auto;
}

@media (min-width: 800px) {
  body {
    margin-left: 10%;
  }
}

hgroup h1 {
  font-size: 3em;
  line-height: 1.3;
  margin-bottom: 9px;
}

hgroup p {
  opacity: 0.7;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-size: 2em;
  border-bottom: 1px solid light-dark(#ccc, #444);
  padding-bottom: 5px;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.4em;
}