<.meta />

<link rel="canonical" href={"//#{@host}#{unless @root, do: String.replace(@path_info, ".html", "")}"} />
<link rel="license" href="//creativecommons.org/publicdomain/zero/1.0/" />
<link rel="stylesheet" href="/#{@stylesheet}" type="text/css" />
