<.meta />

<link rel="canonical" href={"//#{@host}#{unless assigns[:root], do: canonical(@path)}"} />
<link rel="license" href="//creativecommons.org/publicdomain/zero/1.0/" />
<link rel="stylesheet" href={Map.get(assigns, :stylesheet, "/main.css")} type="text/css" />

<title>{@title}</title>