html, body, main, .terminal {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font-family: monospace;
  background: black;
  color: white;
}

/* I didn't know how else to get rid of the underline, sorry. */
.xterm-underline-5 {
  text-decoration: none;
}