/* Alertbox, thanks to w3schools.com */
.alert {
    padding: 5px;
    padding-right:20px;
    padding-left:20px;
    width:100%;
    background-color: #f44336;
    color: white;
}

.alert a {
    text-decoration: none !important;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

nav a {
    text-decoration: none;
    color: white !important;
}

.nodec, .nodec * {
    text-decoration: none !important;
}

.bigger {
    font-size:18px;
}

body, html {height: 100%}
.bgimg {
background-image: url('/images/background/code.png');
height: 100%;
background-position: center;
background-size: cover;
overflow:hidden;
}